flask==0.12.2
Flask-PyMongo==0.3.1
Flask-RESTful==0.3.2
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.10.4
aniso8601==0.92
argparse==1.2.1
itsdangerous==0.24
numpy==1.18.1
pandas==1.0.2
python-csv==0.0.13
unidecode==1.1.1
fuzzywuzzy==0.18.0
pymongo==3.11.0
pymongo[snappy,gssapi,srv,tls]==3.11.0
fuzzywuzzy==0.18.0
python-Levenshtein==0.12.0
setuptools==46.0.0
pytz==2015.2
six==1.9.0
dnspython==1.16.0
sqlparse==0.2.4
gunicorn