:root {
    font-family: "Nunito", "Varta", "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
  
/* @media screen and (max-width:359px) {
  :root {font-size: 16px;}
  div.page {width:100%;}
} */

/* width: 360px --> 767px */
/* @media screen and (min-width:360px) {
  :root {font-size: calc(16px + 2 * ((100vw - 360px) / 408));}
  
} */

/* @media screen and (max-width:768px) {
  #delete-all-btn {
    display: none;
  }
} */

@media screen and (max-width:576px) {
  .avatarOwner {
    display: none;
  }
}
@media screen and (max-width:990px) {
  .content-left {
    display: none;
    /* width:100% */
  }
  .content-right {
    /* display: none; */
    /* width:100% */
    /* width: 710px; */
    /* margin-left: 250px !important; */
  }
}


/* width: 768px --> 1366px */
/* @media screen and (min-width:768px) {
  :root {font-size: calc(18px + 2 * ((100vw - 768px) / 598));}
} */

/* width: >= 1366px desktop */
/* @media screen and (min-width:1366px) {
  :root {font-size:20px;}
} */

/* Style phần bên trái */
.search-result {
  display: none;
}
.content-left {
  border-radius: 5px;
  min-width: 300px;
  /* height: 800px; */
  /*overflow: auto; */
}

/* Style scrollbar tin nhắn bên trái */
.message-left::-webkit-scrollbar {
  width: 10px; 
}
.message-left::-webkit-scrollbar-track {
  background: #ffffff; 
  border-radius: 3px;
}
.message-left::-webkit-scrollbar-thumb {
  background: #ffffff; 
  border-radius: 3px;
}
.message-left::-webkit-scrollbar-thumb:hover {
  width: 10px;
  background: #d4d4d4; 
}

/* Style scrollbar tin nhắn bên phải */
#message-right::-webkit-scrollbar {
  width: 10px; 
}
#message-right::-webkit-scrollbar-track {
  background: #ffffff; 
  border-radius: 3px;
}
#message-right::-webkit-scrollbar-thumb {
  background: #ffffff; 
  border-radius: 3px;
}
#message-right::-webkit-scrollbar-thumb:hover {
  width: 10px;
  background: #d4d4d4; 
}

.content-right {
  border-radius: 5px;
  /* height: 800px;
  overflow: auto; */
}
/* .searchOwner {
  position: fixed;
}
#searchOwner {
  position: fixed;
} */

/* Tin nhắn gần nhất */
.avatarOwner {
  height: 40px;
  width: 40px;
  vertical-align: middle;
}
.name {
  text-align: left;
  vertical-align: middle;
}
.content {
  font-size: 0.75rem;
}
.message-left {
  height: calc(100vh - 195px);
  overflow-x: hidden;
  overflow-y: scroll;
}
#message-right {
  height: calc(100vh - 250px);
  overflow-x: hidden;
  overflow-y: scroll;
}
.each-message-history:hover {
  cursor: pointer;
  background-color: #ededed;
}
.active-chat {
  background-color: #ededed;
}
.unread {
  background-color: #c9d6f1;
}

/* Style phần bên phải */
.input-message {
  width: 100%;
  padding: 10px 5px 10px 5px;
  border: none;
}
.input:focus {
  border: none;
}
.send-message img {
  height: 30px;
}
.send-message img:hover {
  cursor: pointer;
}

.chatFromYou {
  box-sizing: border-box;
  width: fit-content;
  background-color: #ededed; 
  font-size: 0.9rem;
  font-weight: 500;
  padding: 6px 10px 6px 10px;
  border-radius: 10px;
  font-size: 17px;
}

.youtop {
  border-radius: 25px 15px 15px 5px;
}
.youmiddle {
  border-radius: 5px 15px 15px 5px;
}
.youbot {
  border-radius: 5px 15px 15px 25px;
}



.chatFromMe {
  width: auto;
  background-color: rgb(50, 198, 113);
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
  float: right; 
  padding: 6px 10px 6px 10px;
  position: relative;
  border-radius: 10px;
  font-size: 17px;
}
.metop {
  border-radius: 15px 25px 5px 15px;
}
.memiddle {
  border-radius: 15px 5px 5px 15px;
}
.mebot {
  border-radius: 15px 5px 25px 15px;
}

/* .content-message-admin {
    float: right;
} */
.status-message {
  height: 15px;
  position: absolute;
  bottom: 0;
  right: -20px;
}

.each-message {
  position: relative;
  width: 100%;
}
/* .content-message {
  height: 565px;
  overflow: auto;
} */

.status-message-read-recent {
  height: 15px;
  position: absolute;
  bottom: 0;
  right: -5px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Style cho chat-owner */
.logo {
  height: 40px;
}
.linktohome:hover {
  text-decoration: none;
}
.info {
  height: calc(100vh - 250px);
  overflow-x: hidden;
  overflow-y: auto;
}
.company-name {
  text-align: center;
}
.location {
  font-size: 0.75rem;
}
.location-icon {
  height: 15px;
}
.registered {
  height: 30px;
}
.contact-icon {
  height: 15px;
}
.contact-icon-zalo {
  height: 19px;
}