@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varta:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #312e2e;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #1d1d1f;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

body {
    font-family: "Nunito", "Varta", "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
    @media (min-width: 576px) {
    .container {
        max-width: 540px; } }
    @media (min-width: 768px) {
    .container {
        max-width: 720px; } }
    @media (min-width: 992px) {
    .container{
        max-width: 960px; } }
    @media (min-width: 1200px) {
    .container {
        max-width: 1200px; } }

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
