@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #1d1d1f;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

body {
    font-family: "Nunito", "Varta", "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* CSS chung giữa các trang */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
    @media (min-width: 576px) {
    .container {
        max-width: 100%; } 
    .w90 {
        width: 100%; } }
    @media (min-width: 768px) {
    .container {
        max-width: 720px; } }
    @media (min-width: 900px) {
    .w90 {
        width: 100%; } }
    @media (min-width: 992px) {
    .container{
        max-width: 960px; } }
    @media (min-width: 1100px) {
    .w90 {
        width: 90%; } }
    @media (min-width: 1200px) {
    .container {
        max-width: 1200px; } }

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.align-self-center {
    align-self: center;
}
.space-between {
    display: flex;
    justify-content: space-between;
}
.space-around {
    display: flex;
    justify-content: space-around;
}
.space-evenly {
    display: flex;
    justify-content: space-evenly;
}

/* Footer */
footer {
    background-color: #daf2f6;
}

footer .container .row ul {
    margin-left: 425px;
    margin-right: 300px;
}

footer .container .row ul li {
    color: inherit;
}

/* Menu */
#menu {
    position: sticky;
    top: 0;
    z-index: 9999;
}

.p-15 { padding: 15px; }
.px-15 { padding-left: 15px; padding-right: 15px }
.py-15 { padding-top: 15px; padding-bottom: 15px }
.pt-15 { padding-top: 15px; }
.pr-15 { padding-right: 15px; }
.pb-15 { padding-bottom: 15px; }
.pl-15 { padding-left: 15px; }

.bg-red { background-color: #e6182e !important; }
.bg-green { background-color: #22cd49 !important; }
.bg-grey { background-color: #e0eef4 !important; }
.bg-blue { background-color: #1d40bf !important; }

.w-auto { width: auto !important; }
.w-100 { width: 100% !important; }