@import url('https://fonts.googleapis.com/css2?family=Varta:wght@700&display=swap');

.page-title {
    font-family: "Varta", sans-serif;
    font-size: 25px;
    padding-top: 15px;
}

.main {
    position: relative;
    display: flex;
    transition: .3s;
}

/*///////////////////////////////////////////////////////////////////////////////////////*/
/*                                       Cột trái                                        */
/*///////////////////////////////////////////////////////////////////////////////////////*/
/* Phần ảnh post */
.main-img {
    padding: 0 15px;
    height: 300px;
    width: inherit;
}

.w3-display-bottommiddle {
    width: 100%;
}

.mySlides {
    display:none;
}

.main-img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
}

.w3-center {
    text-align: center;
}

.w3-section {
    margin-top: 16px;
    margin-bottom: 16px;
}

.w3-button:hover{
    color:#000!important;
    background-color:#ccc!important;
}

.w3-button {
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    width: 100px;
}

.w3-button:focus {
    outline: none;
}

.w3-light-grey {
    color: #000;
    background-color: #f1f1f1!important;
}
/*========================================= Hết =========================================*/
/*=======================================================================================*/

/* Thông tin người đăng */
.author-info {
    margin: 0 15px 15px;
    padding: 15px;
    border-radius: 10px;
}

address {
    margin: 15px 0 0;
}

address .row .col-sm-4 div {
    padding: 5px 0;
}

address .row .col-sm-4 div:nth-last-child(1) {
    padding: 5px 0 0;
}

address .row .col-sm-8 div {
    padding: 5px 0;
}

address .row .col-sm-8 div:nth-last-child(1) {
    padding: 5px 0 0;
}
/*========================================= Hết =========================================*/
/*=======================================================================================*/

/* Report button */
.button-rp {
    border-radius: 10px;
    background-image: linear-gradient(90deg,#f65e38 0,#f68a39 51%,#f65e38);
    background-size: 200% auto;
    background-position-x: 0;
    background-position-y: 33.3333%;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 130px;
    transition: all .3s;
    cursor: pointer;
    margin-left: 15px;
    box-shadow: 0 4px 12px 0 rgba(246,116,57,.4);
}

.button-rp:hover {
    background-position: 100%;
}

.button-rp:focus {
    outline: none;
}

.button-rp span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: .3s;
}

.button-rp span:after {
    content: '\f06a';
    font-family: fontAwesome;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: .3s;
}

.button-rp:hover span {
    padding-right: 25px;
}

.button-rp:hover span:after {
    opacity: 1;
    right: 0;
}

/* Mờ màn hình phía sau */
#blur.active {
    filter: blur(10px);
    pointer-events: none;
    user-select: none;
}

/* Dialog báo cáo */
#popup-report {
    position: fixed;
    display: none;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
    width: 550px;
    background-color: #ffffff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#popup-report.active {
    display: block;
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.rp-header {
    padding: 0 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.rp-header span {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    max-width: 100%;
}

.rp-close {
    position: absolute;
    display: block;
    top: 12px;
    right: 16px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #e4e6eb;
    justify-content: center;
    align-items: center;
}

.rp-close i {
    position: relative;
    display: block;
    text-align: center;
    width: 36px;
    height: 36px;
    padding: 9px 8px 8px 9px;
    align-items: center;
    justify-content: center;
}

.rp-close:hover {
    cursor: pointer;
    background-color: #d9dbe0;
}

.rp-content {
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rp-check-area {
    margin: 16px;
    text-align: left;
}

.rp-check-area button {
    height: 40px;
    color: #050505;
    background-color: #e4e6eb;
    margin-right: 12px;
    padding: 1px 16px;
    border: none;
    border-radius: 20px;
    outline: none;
}

.rp-check-area button:hover {
    background-color: #d9dbe0;
}

.rp-check-area button:focus {
    outline: none;
}

.rp-check-area button.btnChecked {
    outline: none;
    background-color: #1877f2;
    color: #fff;
}

.rp-content .form-group textarea {
    margin: 16px;
    padding: 10px;
    width: calc(100% - 32px);
    height: 140px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.rp-warning {
    margin: 16px;
}

.rp-warning i {
    color: #ff0000;
}

.rp-bottom {
    position: relative;
    display: block;
    padding: 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#btnSendRp {
    height: 40px;
    color: #050505;
    background-color: #a5e9c4;
    padding: 1px 16px;
    border: none;
    border-radius: 20px;
}

#btnSendRp:hover {
    background-color: #bbffda;
}

#btnSendRp:focus {
    outline: none;
}
/*========================================= Hết =========================================*/
/*=======================================================================================*/

/* Lưu tin */
.author-info + div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}
.save-favourite {
    font-family: 'Varta', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.save-favourite i {
    margin-left: 3px;
}
.save-favourite:hover {
    cursor: pointer;
}
.save-favourite:hover i {
    color: #f50057;
}
.save-favourite i.fas {
    color: #f50057;
}
/*========================================= Hết =========================================*/
/*=======================================================================================*/

/*///////////////////////////////////////////////////////////////////////////////////////*/
/*                                      Hết Cột trái                                     */
/*///////////////////////////////////////////////////////////////////////////////////////*/

/*--------------------------------------------------------------------------------------------------------------------------*/

/*///////////////////////////////////////////////////////////////////////////////////////*/
/*                                        Cột phải                                       */
/*///////////////////////////////////////////////////////////////////////////////////////*/



/* Địa chỉ */
#addressDetail,
#address {
    margin: 8px 0;
}
/*========================================= Hết =========================================*/
/*=======================================================================================*/

/* Trạng thái phòng trọ */
.room-status {
    background-color: #d1ad77;
    border-radius: 10px;
    box-shadow: 0 4px 12px 0 rgba(246,116,57,.4);
}

.room-status #statusHired {
    margin: 8px 0;
    text-align: center;
    color: #fff;
}
/*========================================= Hết =========================================*/
/*=======================================================================================*/

/* Lượt xem, like */
.view-like-section .col-md-3 span {
    margin: 3px 5px 0 0;
}

.view-like-section .col-md-3 p {
    display: inline;
    margin: auto 0;
}
/*========================================= Hết =========================================*/
/*=======================================================================================*/

/* Giá điện, số nước, diện tích, giá phòng */
.price-water-elec {
    margin: 15px 0 0;
}

.price-room-area {
    margin: 0 0 15px;
}

.label-price {
    background-color: #daf2f6;
}

.price-water-elec .col-md-3 h5, .price-room-area .col-md-3 h5 {
    margin: 8px 0;
}

.price-room-area .col-md-3:nth-last-child(1) h5 {
    color: #ff0000;
}
/*========================================= Hết =========================================*/
/*=======================================================================================*/

/* Cơ sở vật chất */
.utility-row-top {
    margin: 15px 0 0;
}
.utility-row-middle {
    margin: 0;
}
.utility-row-bottom {
    margin: 0 0 30px;
}

.utility-row-top .col-lg-6, .utility-row-middle .col-lg-6, .utility-row-bottom .col-lg-6 {
    padding: 5px 15px;
}
.utility-row-top .col-lg-6 .row, .utility-row-middle .col-lg-6 .row, .utility-row-bottom .col-lg-6 .row {
    padding: 0 15px;
}
.utility-row-top .col-lg-6 .row img, .utility-row-middle .col-lg-6 .row img, .utility-row-bottom .col-lg-6 .row img {
    width: 40px;
    height: 40px;
}
.utility-row-top .col-lg-6 .row h5, .utility-row-middle .col-lg-6 .row h5, .utility-row-bottom .col-lg-6 .row h5 {
    margin: auto 30px;
    font-size: 18px;
}
/*========================================= Hết =========================================*/
/*=======================================================================================*/

/* Tiện ích khác */
.utility-row-other {
    margin: 15px 0 30px;
    text-align: center;
}
.utility-row-other img {
    width: 40px;
    height: 40px;
    margin: auto;
}
/*========================================= Hết =========================================*/
/*=======================================================================================*/

/* Nội dung bài đăng */
article {
    margin: 15px 0;
}
#contentPost {
    text-align: justify;
}
/*========================================= Hết =========================================*/
/*=======================================================================================*/

/* Phần đánh giá */
.main .row .col-lg-7 .review-comment {
    padding: 15px;
    margin: 15px 0 15px 0;
}

/* Rating star */
.rating {
    position: relative;
    display: flex;
}

.rating img {
    width: 25px;
    height: 25px;
    margin-right: 7px;
}

#s1:hover, #s2:hover, #s3:hover, #s4:hover, #s5:hover {
    cursor: pointer;
}

.review-comment .col-md-12 .row .col-md-9 .rate-status {
    display: none;
    padding: 0 30px;
    margin-top: 10px;
}

.average-rate .rate-point-container {
    margin: 0 0 8px 3px;
    padding: 2px;
    width: 30px;
    height: 30px;
}
.average-rate p {
    margin-top: 2px;
}

/* Bình luận */
.comment-section .guest-comment .row .col-sm-1 img {
    width: 35px;
    height: 35px;
}

.info-guest {
    padding: 0 15px;
}

.info-guest div p {
    margin-bottom: 8px;
}

.info-guest + div p {
    text-align: justify;
}

.rating-history {
    text-align: right;
    position: relative;
}
.rating-history .stars {
    position: absolute;
    right: 0;
}
.rating-history .stars img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
/*========================================= Hết =========================================*/
/*=======================================================================================*/

/*///////////////////////////////////////////////////////////////////////////////////////*/
/*                                      Hết Cột phải                                     */
/*///////////////////////////////////////////////////////////////////////////////////////*/
