@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Bảng tìm kiếm */
.search-section {
    height: 100vh;
    width: 100%;
    background-image: url('../image/home-background-5.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
}
/* Banner tên web */
.head-brand {
    position: relative;
    top: 20%;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #ffffff;
    font-size: 80px;
    user-select: none;
}
/* Ô tìm kiếm */
.search-box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 850px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 16px 0 rgba(39,36,44,.16);
    border-radius: 4px;
    padding: 35px 35px;
}
@media (max-width: 991px) {
    .search-box {
        top: 60%; } }

/* Chữ 'Địa chỉ' */
.search-box .search-box-title {
    font-weight: 500;
    font-family: 'Varta', sans-serif;
}
/* Ô nhập tìm kiếm */
.search-text {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 5fr 1fr;
    margin-bottom: 10px;
}
@media (max-width: 940px) {
    .search-text {
        display: flex;
        flex-direction: column;
    }
}
#searchBtn {
    color: #000;
    background-color: #73c799;
    border: none;
    text-align: center;
}
#searchBtn:hover {
    cursor: pointer;
    background-color: #bbffda;
}

/* 3 ô filter */
.search-filter {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.search-filter .filter-item {
    border-radius: 4px;
    height: 138px;
    background-color: #fcfcfc;
    justify-content: space-between;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.search-item-title {
    font-family: 'Varta', sans-serif;
    color: #000;
    font-size: 25px;
}
@media (max-width: 880px) {
    .search-filter {
        display: flex;
        flex-direction: column;
    }
}

select#itemType, select#area_range {
    width: 100%;
    padding: 8px 12px;
    cursor: pointer;
    height: auto;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select#itemType:focus, select#area_range:focus,
select#itemType:hover, select#area_range:hover {
    outline: none;
    border: 1px solid #bbbbbb;
}

/* Thanh kéo khoảng giá */
#price_range span.ui-slider-handle:focus {
    outline: none;
}

/* Phần nội dung chính */
.city-navigation {
    width: 100%;
}
@media (max-width: 950px) {
    .search-section {
        height: 110vh;
    }
    .head-brand {
        display: none;
    } }

/* Địa điểm nổi bật */
.city-box, .recommend-box {
    padding: 70px 15px 0;
}
.content-title {
    font-family: 'Varta', sans-serif;
}
.content-description {
    margin: 0 0 10px;
}

.city-box .city-list {
    justify-content: space-between;
}
.city-box .city-list .city-item {
    display: flex;
    flex-direction: column;
    width: 247px;
    height: 310px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}
.city-item:hover {
    cursor: pointer;
    box-shadow: 0 15px 15px rgba(0, 0, 0, .3);
}
.city-item:hover img {
    transform: scale(1.2);
}
.city-box .city-list .city-item img {
    width: 247px;
    height: 310px;
    object-fit: cover;
    transition: all .5s ease;
}
.city-name {
    position: absolute;
    bottom: 10px;
    left: 30px;
    font-family: 'Varta', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}
/* @media (min-width:768px) {
    .city-box .city-list .city-item {
        display: block;
    }
} */

/* Gợi ý theo nhu cầu */
.tabs {
    position: relative;
    height: auto;
    width: 100%;
    /* overflow: hidden; */
}
.tabs p {
    margin: 0;
}
.tabs h6 {
    font-family: 'Varta', sans-serif;
    margin-top: 5px;
    font-size: 20px;
}

/* Tab loại phòng */
.tabs .tab-header {
    height: 60px;
    display: flex;
    align-items: center;
    font-family: 'Varta', sans-serif;
}
.tabs .tab-header > div {
    width: calc(100% / 4);
    text-align: center;
    color: #a5e9c4;
    font-weight: 600;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    outline: none;
}
.tabs .tab-header > div.tab-active-head {
    color: #1877f2;
}

/* Thanh trượt */
.tabs .tab-indicator {
    position: relative;
    width: calc(100% / 4);
    height: 5px;
    background-color: #1877f2;
    left: 0;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

/* Nội dung gợi ý */
.tabs .tab-body {
    position: relative;
    height: 450px;
}
.tabs .tab-body > .tab-content {
    /* position: absolute; */
    display: none;
    /* width: 100%; */
    opacity: 0;
    transition: opacity .5s ease-in-out 0s,
                transform .5s ease-in-out 0s;
    height: 0;
    overflow: hidden;
}
.tabs .tab-body > .tab-content.tab-active-body {
    opacity: 1;
    /* z-index: 1; */
    display: block;
    height: auto;
}
.tabs .tab-body > .tab-content .item-row {
    width: 100%;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    height: auto;
    box-sizing: border-box;
    flex-wrap: nowrap;
}
.tabs .tab-body > .tab-content .item-row a {
    color: inherit;
    width: auto;
    text-decoration: none;
}
.recommend-item {
    /* margin: 20px; */
    overflow: hidden;
    width: auto;
    border-radius: 10px;
    display: flex;
}
.recommend-item:hover {
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(3, 44, 71, 0.12);
}
.recommend-item img {
    width: 240px;
    height: 170px;
    object-fit: cover;
}
.item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    background-color: #fafafa;
    width: 100%;
}
@media (max-width: 995px) {
    .recommend-box {
        display: none;
    }
}