body {
    background-image: url("../image/login-background.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}



.login-box {
    background-color: #ffffff;
    border-color: black;
    box-shadow: black 0px 0px 4px;
    border-radius: 10px;
}

.login-box h1 {
    font-family: 'Varta', sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
}

#brand {
    font-family: 'Montserrat Alternates', 'Exo 2', sans-serif;
    color: #fff;
    /* font-size: 80px; */
    user-select: none;
    text-align: left;
}

.login-row {
    padding: 0 15px;
}

#login-btn {
    border-radius: 7px;
    margin-left: auto;
    margin-right: 0;
}

.btn-link {
    margin: auto 0px;
}

.form-control {
    border-radius: 7px;
}

.turn-back {
    margin: 0;
}

.turn-back:hover {
    cursor: pointer;
}

.turn-back a:hover {
    text-decoration: none;
}

img {
    width: 30px;
    height: 30px;
    opacity: 0.8;
    margin: auto 0;
}

.turn-back .btn-link {
    color: #212529;
    margin: auto 0;
    text-decoration: none;
}
@media screen and (max-width:359px) {
    /* :root {font-size: 16px;} */
    #brand {
        font-size: 16px;
        text-align: center;
        padding-top: 30px;
    }
    .login-box h1 {
        font-size: 18px;
    }
    .login-box {
        padding: 18px 18px 10px;
    }
    .btn-link {
        font-size: 11px;
    }
}

/* width: 360px --> 767px */
@media screen and (min-width:360px) {
    /* :root {font-size: calc(16px + 2 * ((100vw - 360px) / 408));} */
    #brand {
        font-size: 35px;
        text-align: center;
        padding-left: 0px;
        padding-top: 80px;
    }
    .login-box h1 {
        font-size: 25px;
    }
    .login-box {
        padding: 24px 24px 12px;
    }
    .btn-link {
        font-size: 13px;
    }
}

/* width: 768px --> 1366px */
@media screen and (min-width:768px) {
    /* :root {font-size: calc(18px + 2 * ((100vw - 768px) / 598));} */
    #brand {
        font-size: 55px;
        padding-left: 50px;
        padding-top: 40px;
    }
    .login-box h1 {
        font-size: 30px;
    }
    .login-box {
        padding: 48px 48px 24px;
    }
    .btn-link {
        font-size: 15px;
    }
}
@media screen and (min-width:1366px) {
    /* :root {font-size: calc(18px + 2 * ((100vw - 768px) / 598));} */
    #brand {
        font-size: 80px;
        text-align: left;
        padding-left: 80px;
    }
    .login-box {
        padding: 48px 48px 24px;
    }
    .login-box h1 {
        font-size: 45px;
    }
}