* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Nunito", "Varta", "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

div.page {
    margin-left:auto;
    margin-right:auto;
    line-height: 1.4211;
    font-weight: 300;
    font-style: normal;
    color: rgb(34, 34, 34); 
    max-width:40rem;        
}

@media screen and (max-width:359px) {
    :root {font-size: 16px;}
    div.page {width:100%;}
}

/* width: 360px --> 767px */
@media screen and (min-width:360px) {
    :root {font-size: calc(16px + 2 * ((100vw - 360px) / 408));}
    
}

/* width: 768px --> 1366px */
@media screen and (min-width:768px) {
    :root {font-size: calc(18px + 2 * ((100vw - 768px) / 598));}
}

/* width: >= 1366px desktop */
@media screen and (min-width:1366px) {
    :root {font-size:20px;}
}

#header1 {
    background-image: url("../image/background-post.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 15px;
    text-align: center;
    padding: 50px;
    margin-bottom: 30px;
    margin-top: 10px;
}


div.tienich img {
    width: 70px;
    padding: 10px;
    margin: auto 20px;
}

div.tienich img:hover {
    border: 3px solid #007bff;   
    border-radius: 10px;
    transition: .1s;
}

div.tienich img.active-image {
    border: 3px solid #007bff;   
    border-radius: 10px;
    transition: .1s;
}

abbr[title] {
    cursor: pointer;
}

.fa-caret-down {
    transform: rotate(0deg);
    transition: transform 0.2s linear;
}

.fa-caret-down.open{
    transform: rotate(180deg);
    transition: transform 0.2s linear;
}

.frame-image {
    height: 200px;
    position: relative;
    border: 2px solid rgba(7, 5, 5, 0.699);
    display: inline-block;
    margin: 10px;
}

.frame-image img {
    height: 100%;
}

.close {
    position: absolute;
    top: 0px;
    right: 5px;
    cursor: pointer;
}

.close:hover {
    color: red;
}

#rowPostDes {
    position: relative;
}

.previewBtn {
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
    cursor: pointer;
}

#huongDan {
    background-color: rgba(202, 200, 200, 0.85);
    margin: 10px 0;
    border-radius: 10px;
    padding: 15px;
    display: none;
}

.mahoa {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

.thongtinlienlac {
    font-size: 20px;
}