:root {
            background-color: rgb(252, 250, 246);
            font-family: "Nunito", "Varta", "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        }
        div.page {
            margin-left:auto;
            margin-right:auto;
            line-height: 1.4211;
            font-weight: 300;
            font-style: normal;
            color: rgb(34, 34, 34);         
        }
        div.page h1 {
            font-family: 'SFMono-Regular','Menlo,Monaco,Consolas',"Liberation Mono","Courier New",monospace;
        }
        div.page h1 {font-size: 1.5rem;}
        div.page {max-width:35rem;}


        /* width < 360px*/
        @media screen and (max-width:359px) {
            :root {font-size: 16px;}
            div.page {width:100%;}
        }
        
        /* width: 360px --> 767px */
        @media screen and (min-width:360px) {
            :root {font-size: calc(16px + 2 * ((100vw - 360px) / 408));}
            
        }
        /* width: 768px --> 1366px */
        @media screen and (min-width:768px) {
            :root {font-size: calc(18px + 2 * ((100vw - 768px) / 598));}
        }

        /* width: >= 1366px desktop */
        @media screen and (min-width:1366px) {
            :root {font-size:20px;}
        }
.header {
    text-align: center;
}
.tieude {
    width: 100%;
    height: 30px;
    font-size: 18px;
    flex: 12;
    /* font-family: 'SFMono-Regular','Menlo,Monaco,Consolas',"Liberation Mono","Courier New",monospace; */
}
div {
    margin-top: 5px;
}
/* div.container1 {
    display: flex;
    flex-direction: row;
    margin-left: 30px ;
} */
input[type = text] {
    border: 1.5px solid rgba(94, 92, 92, 0.15);
    /* margin-top:  5px; */
    border-radius: 5px;
    padding-left: 10px;
    font-family: 'Raleway', sans-serif;
    /* display: flex; */
    /* flex: 3; */
}
input[type = text]:hover {
    background-color: #daf2f6;
    /* border-radius: 5px; */
}
input[type = number] {
    border: 1.5px solid rgba(94, 92, 92, 0.15);
    /* margin-top:  5px; */
    border-radius: 5px;
    /* display: flex; */
    /* flex: 3; */
}
input[type = number]:hover {
    background-color: #daf2f6;
}
textarea {
    border: 1.5px solid rgba(94, 92, 92, 0.15);
    margin-top:  5px;
    border-radius: 5px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
textarea:hover {
    background-color: #daf2f6; 
}
input[type=button] {
    font-family: "Nunito", "Varta", "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
	padding: 10px;
	background: #3e72aa;
	color: white;
	border: none;
    cursor: pointer;
    position: relative;
    left: 0px;
    font-weight: light;
    margin: 20px 0px 20px 0px;
    border-radius: 5px;
}
input[type=button]:hover {
    background: #2663a3;
}
.container1 {
    flex: 12;
    display: flex;
}
.tinhthanh {
    flex: 4;
}
.quanhuyen {
    flex: 4;
}
.phuongxa {
    flex: 4;
}
#hideid {
    visibility: hidden;
}
.chitiet {
    display: flex;
    flex: 12;
}
.them {
    width: 98%;
    font-size: 18px;
    height: 25px;
}
.selection1 {
    width: 100%;
    height: 35px;
    /* margin-left: auto;
    margin-right: auto; */
    padding: 5px;
    font-size: 18px;
    /* margin: 10px; */
}
.tinhthanh, .quanhuyen {
    margin-right: 5px;
}
.row {
    display: flex;
    flex-direction: row;
}
.row1 {
    display: flex;
    flex-direction: row;
}
.lancan {
    display: flex;
    flex: 12;
}
.boxlancan {
    width: 98%;
    font-size: 18px;
    /* height: 63px; */
    font-family: 'Raleway', sans-serif;
    padding: 5px 10px 5px 5px;
}
.loaiphong {
    width: 100%;
    font-size: 18px;
    height: 35px;
    padding: 5px;
    margin-bottom: 3px ;
    flex: 4.5;
}
.roomtype {
    display: flex;
    flex: 4.5;
}
.numofroom {
    flex: 4.5;
    display: flex;
}
.sophong {
    width: 100%;
    font-size: 18px;
    height: 35px;
    padding: 0px 0px 0px 10px;
    flex: 4.5;
}
.dientich {
    display: flex;
    flex: 4.5;
}
.area {
    width: 100%;
    font-size: 18px;
    height: 35px;
    padding-left: 10px;
    font-family:  'Raleway', sans-serif;
}
.roomprice {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    font-size: 18px;
    height: 35px;
    padding-left: 10px;
}
.giaphong {
    display: flex;
    flex: 4.5;
    width: 100%;
    font-size: 18px;
    height: 35px;
}
.phongtam {
    flex: 4.5;
    display: flex;
}
.chonphongtam {
    width: 100%;
    font-size: 18px;
    height: 35px;
    padding: 5px;
    margin-bottom: 3px ;
    flex: 4.5;
}
.phongbep {
    flex: 4.5;
    display: flex;
}
.chonphongbep {
    width: 100%;
    font-size: 18px;
    height: 35px;
    padding: 5px;
    margin-bottom: 3px ;
    flex: 4.5;
}
.tienich {
    flex: 12;
    display: flex;
}
.flexicon {
    flex: 2;
}
.icon {
    width: 40px;
    height: 40px;
    align-items: center;
}
.icon:hover {
    border: 1.5px solid rgba(32, 158, 120, 0.15);
}
.diennuoc {
    flex: 4.5;
    display: flex;
}
.nhaptien {
    width: 100%;
    font-size: 18px;
    height: 35px;
    padding: 5px;
    margin-bottom: 3px ;
    flex: 4.5;
    padding-left: 10px;
    font-family: 'Raleway', sans-serif;
}
.lienlac {
    display: flex;
    flex: 12;
}
b {
    box-sizing: border-box;
}
.noidung {
    flex: 12;
    font-size: 18px;
    width: 98%;
}
select {
    font-family: 'Raleway', sans-serif;
    /* font-weight: bold; */
}
.khoangtrang {
    display: flex;
    flex: 12;
}
label.chimuc {
    margin: 8px;
    float: right;
    flex: 3;
    font-weight: bold;
}
