<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Easy Accomod</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <link rel="stylesheet" href="../static/style/common.css">
    <link rel="stylesheet" href="../static/style/account-manager.css">
    <link rel="shortcut icon" href="../static/image/icon.png"/>
    <script src="https://kit.fontawesome.com/43ada5badf.js"></script>
</head>
<body>
    <div class="main">
        <!-- Menu -->
        <div id="menu"></div>

        <div class="main-content container w90">
            <div class="header"><h1 class="heading">Quản lý tài khoản</h1></div>
            <div class="recommend-box">
                <div class="tabs">

                    <div class="tab-header">
                        <div class="tab-active-head">
                            <h5>Chủ nhà trọ</h5></div>
                        <div>
                            <h5>Khách thuê trọ</h5></div>
                    </div>

                    <div class="tab-body">

                        <!-- Tab chủ nhà trọ -->
                        <div class="tab-content tab-active-body">
                            <!-- Thanh tìm kiếm trạng thái, tên tài khoản -->
                            <div class="search-bar flex-row">
                                <div class="col-md-5 p-0">
                                    <div class="flex-row align-items-center">
                                        <label for="filter" class="title mb-0">Trạng thái tài khoản:</label>
                                        <select name="filter" class="form-control w-auto" id="selectowner" onchange="changeOption()">
                                            <option value="active">Đã phê duyệt</option>
                                            <option value="handling">Chờ phê duyệt</option>
                                            <option value="edit">Chỉnh sửa thông tin</option>
                                            <option value="block">Đã khóa</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 p-0">
                                    <div class="flex-row align-items-center">
                                        <label for="search" class="title mb-0">Tìm kiếm tài khoản:</label>
                                        <input type="text" name="search" class="form-control w-auto" id="searchOwner">
                                        <button class="btn btn-primary ml-2" onclick="searchOwner()">Tìm <i class="fas fa-search"></i></button>
                                    </div>
                                </div>          
                                <div class="col-md-1 p-0 relative">
                                    <div class="numpage hasnotResults" id="prevowner">&lt;&lt;</div>
                                    <div class="numpage hasResults" id="nextowner">&gt;&gt;</div>
                                    <div class="sotrang" id="numpageOwner">1</div>
                                </div>     
                            </div>
                            
                            <!-- Các dòng kết quả -->
                            <div class="result-rows" id="resultowner"></div>
                            
                        </div>

                        <!-- Tab khách thuê trọ -->
                        <div class="tab-content">
                            <!-- Thanh tìm kiếm trạng thái, tên tài khoản -->
                            <div class="search-bar flex-row">
                                <div class="col-md-5 p-0">
                                    <div class="flex-row align-items-center">
                                        <label for="filter" class="title mb-0">Trạng thái tài khoản:</label>
                                        <select name="filter" class="form-control w-auto" id="selectrenter" onchange="changeOption()">
                                            <option value="active">Đang hoạt động</option>
                                            <option value="block">Đã khóa</option>
                                        </select></div></div>
                                <div class="col-md-6 p-0">
                                    <div class="flex-row align-items-center">
                                        <label for="search" class="title mb-0">Tìm kiếm tài khoản:</label>
                                        <input type="text" name="search" class="form-control w-auto" id="searchRenter">
                                        <button class="btn btn-primary ml-2" onclick="searchRenter()">Tìm <i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                                <div class="col-md-1 p-0 relative">
                                    <div class="numpage hasnotResults" id="prevrenter">&lt;&lt;</div>
                                    <div class="numpage hasResults" id="nextrenter">&gt;&gt;</div>
                                    <div class="sotrang" id="numpageRenter">1</div>
                                </div>  
                            </div>
                            <div class="result-rows" id="resultrenter"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div id="footer"></div>

    <!-- Bootstrap lib -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- JQuery lib -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/script/account-manager.js"></script>

    <!-- Slider css, js lib -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script> -->
</body>
</html>