<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Easy Accomod</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style/chat.css">
    <link rel="stylesheet" href="../static/style/searchOwner.css">
    <link rel="shortcut icon" href="../static/image/icon.png"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400" rel="stylesheet" />
    
</head>
<body>
    <!-- Menu -->
    <div id="menu"></div>

    <!-- Phần thân -->

    
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-1"></div> -->
            <!-- Bên trái -->
            <div class="col-md-3 mt-4 mb-4 p-0 border content-left">
                <!-- Thanh search -->
                <div class="col-sm-12 searchOwner border-bottom">
                    <div id="searchOwner" class="row mt-3 mb-3 ml-2">
                        <form>
                            <input id="search-owner" type="search" placeholder="Search">
                        </form>
                    </div>
                </div>

                <!-- Kết quả tìm kiếm -->
                <div class="message-left search-result" id="ketquasearch">
                </div>

                <!-- Các tin nhắn gần nhất -->
                <div class="message-left history-chat" id="listmessages">
                </div>
                
            </div>

            <!-- Bên phải -->
            <div class="col-md-7 mt-4 mb-4 ml-1 border content-right">
                <!-- Thanh header -->
                <div class="col-sm-12 border-bottom">
                    <div class="row">
                        <div class="col-sm-1 pl-0 mt-3 mb-3">
                            <img class="avatarOwner" id="avtOwner" src="../static/image/1.png">
                        </div>
                        <div class="col-sm-11 pt-1 name mt-3 mb-3">
                            <b id="nameChatTo">Nguyễn Hùng Duy</b><div style="display: none" id="usernameChating">owner</div>
                        </div> 
                    </div>
                </div>

                <!-- Nội dung các tin nhắn -->
                <div id="message-right" class="row p-2">                    
                </div>

                <!-- Thanh nhập tin nhắn -->
                <div class="row send border-top">
                    <div class="col-sm-11 mt-1 mb-1">
                        <input type="text" id="input-message" class="input-message" placeholder="Nhập tin nhắn">
                    </div>
                    <div class="col-sm-1 mt-2 pr-1 send-message" id="send-message" onclick="autoScroll()" onclick="renderMessageToHTML()">
                        <img class="" src="../static/image/send1.png">
                    </div>
                </div>
            </div>

            <!-- <div class="col-md-1"></div> -->
        </div>
    </div>

    <!-- Footer -->
    <div id="footer"></div>

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
      <script src="../static/script/chat.js"></script>
</body>
</html>