<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Easy Accomod</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style/chat.css">
    <link rel="stylesheet" href="../static/style/searchOwner.css">
    <link rel="shortcut icon" href="../static/image/icon.png"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400" rel="stylesheet" />
    
</head>
<body>
    <!-- Menu -->
    <div id="menu"></div>

    <!-- Phần thân -->

    
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <!-- Bên trái -->
            <div class="col-md-3 mt-4 mb-4 p-0 border content-left">
                <!-- Thanh search -->
                <div class="col-sm-12 searchOwner border-bottom">
                    <div id="searchOwner" class="row mt-3 mb-3 ml-2">
                        <form>
                            <input id="search-owner" type="search" placeholder="Search">
                        </form>
                    </div>
                </div>

                <!-- Kết quả tìm kiếm -->
                <div class="message-left search-result">
                    <div class="col-sm-12 m-1 border-bottom ">
                        <div class="row">
                            <!-- Avatar -->
                            <div class="col-sm-2 pl-0 pt-1">
                                <img class="avatarOwner" src="../static/image/1.png">
                            </div>
                            <div class="col-sm-10 name p-1">
                                <b>Nguyễn Hùng Duy</b>
                            </div>                       
                        </div>
                        
                    </div>

                    <div class="col-sm-12 m-1 border-bottom">
                        <div class="row">
                            <!-- Avatar -->
                            <div class="col-sm-2 pl-0 pt-1">
                                <img class="avatarOwner" src="../static/image/2.png">
                            </div>
                            <div class="col-sm-10 name p-1">
                                <b>Nguyễn Hùng Duy</b>
                            </div>                       
                        </div>
                    </div>

                    <div class="col-sm-12 m-1">
                        <div class="row">
                            <!-- Avatar -->
                            <div class="col-sm-2 pl-0 pt-1">
                                <img class="avatarOwner" src="../static/image/6.png">
                            </div>
                            <div class="col-sm-10 name p-1">
                                <b>Nguyễn Hùng Duy</b>
                            </div>                       
                        </div>
                    </div>
                </div>

                <!-- Các tin nhắn gần nhất -->
                <div class="message-left history-chat">
                    <div class="col-sm-12 m-1 border-bottom each-message-history active-chat">
                        <div class="row">
                            <!-- Avatar -->
                            <div class="col-sm-2 pl-1 pt-1">
                                <img class="avatarOwner" src="../static/image/1.png">
                            </div>
                            <div class="col-sm-10 name p-1">
                                <b>Nguyễn Hùng Duy</b>
                                <div class="row content">
                                    <div class="col-sm-7">
                                        Hỗ trợ sửa lỗi
                                    </div>
                                    <div class="col-sm-5 p-0 pl-3">
                                        19/12/2020
                                    </div>                     
                                </div>
                            </div>                       
                        </div>
                        
                    </div>

                    <div class="col-sm-12 m-1 border-bottom each-message-history unread">
                        <div class="row">
                            <!-- Avatar -->
                            <div class="col-sm-2 pl-1 pt-1">
                                <img class="avatarOwner" src="../static/image/2.png">
                            </div>
                            <div class="col-sm-10 name p-1">
                                <b>Nguyễn Hùng Duy</b>
                                <div class="row content">
                                    <div class="col-sm-7">
                                        Lỗi tùm lum hết rồi
                                    </div>
                                    <div class="col-sm-5 p-0 pl-3">
                                        18/12/2020
                                    </div>                     
                                </div>
                            </div>                       
                        </div>
                    </div>

                    <div class="col-sm-12 m-1 border-bottom each-message-history unread">
                        <div class="row">
                            <!-- Avatar -->
                            <div class="col-sm-2 pl-1 pt-1">
                                <img class="avatarOwner" src="../static/image/3.png">
                            </div>
                            <div class="col-sm-10 name p-1">
                                <b>Nguyễn Hùng Duy</b>
                                <div class="row content">
                                    <div class="col-sm-7">
                                        Có sửa không thì bảo
                                    </div>
                                    <div class="col-sm-5 p-0 pl-3">
                                        17/12/2020
                                    </div>                     
                                </div>
                            </div>                       
                        </div>
                    </div>

                    <div class="col-sm-12 m-1 border-bottom each-message-history">
                        <div class="row">
                            <!-- Avatar -->
                            <div class="col-sm-2 pl-1 pt-1">
                                <img class="avatarOwner" src="../static/image/4.png">
                            </div>
                            <div class="col-sm-10 name p-1">
                                <b>Nguyễn Hùng Duy</b>
                                <div class="row content">
                                    <div class="col-sm-7">
                                        Đốt nhà bây giờ
                                    </div>
                                    <div class="col-sm-5 p-0 pl-3">
                                        16/12/2020
                                    </div>                     
                                </div>
                            </div>                       
                        </div>
                    </div>

                    <div class="col-sm-12 m-1 border-bottom each-message-history">
                        <div class="row">
                            <!-- Avatar -->
                            <div class="col-sm-2 pl-1 pt-2">
                                <img class="avatarOwner" src="../static/image/5.png">
                            </div>
                            <div class="col-sm-10 name p-1">
                                <b>Nguyễn Hùng Duy</b>
                                <div class="row content">
                                    <div class="col-sm-8">
                                        Chấm dứt hợp đồng
                                    </div>
                                    <div class="col-sm-4 p-0">
                                        15/12/2020
                                    </div>                     
                                </div>
                            </div>                       
                        </div>
                    </div>

                    <div class="col-sm-12 m-1 border-bottom each-message-history">
                        <div class="row">
                            <!-- Avatar -->
                            <div class="col-sm-2 pl-1 pt-2">
                                <img class="avatarOwner" src="../static/image/6.png">
                            </div>
                            <div class="col-sm-10 name p-1">
                                <b>Nguyễn Hùng Duy</b>
                                <div class="row content">
                                    <div class="col-sm-8">
                                        Phòng trọ sinh viên giá rẻ
                                    </div>
                                    <div class="col-sm-4 p-0">
                                        14/12/2020
                                    </div>                     
                                </div>
                            </div>                       
                        </div>
                    </div>

                    <div class="col-sm-12 m-1 border-bottom each-message-history">
                        <div class="row">
                            <!-- Avatar -->
                            <div class="col-sm-2 pl-1 pt-2">
                                <img class="avatarOwner" src="../static/image/7.png">
                            </div>
                            <div class="col-sm-10 name p-1">
                                <b>Nguyễn Hùng Duy</b>
                                <div class="row content">
                                    <div class="col-sm-8">
                                        Phòng trọ sinh viên giá rẻ
                                    </div>
                                    <div class="col-sm-4 p-0">
                                        13/12/2020
                                    </div>                     
                                </div>
                            </div>                       
                        </div>
                    </div>

                    <div class="col-sm-12 m-1 border-bottom each-message-history">
                        <div class="row">
                            <!-- Avatar -->
                            <div class="col-sm-2 pl-1 pt-2">
                                <img class="avatarOwner" src="../static/image/8.png">
                            </div>
                            <div class="col-sm-10 name p-1">
                                <b>Nguyễn Hùng Duy</b>
                                <div class="row content">
                                    <div class="col-sm-8">
                                        Phòng trọ sinh viên giá rẻ
                                    </div>
                                    <div class="col-sm-4 p-0">
                                        12/12/2020
                                    </div>                     
                                </div>
                            </div>                       
                        </div>
                    </div>

                    <div class="col-sm-12 m-1 border-bottom each-message-history">
                        <div class="row">
                            <!-- Avatar -->
                            <div class="col-sm-2 pl-1 pt-2">
                                <img class="avatarOwner" src="../static/image/9.png">
                            </div>
                            <div class="col-sm-10 name p-1">
                                <b>Nguyễn Hùng Duy</b>
                                <div class="row content">
                                    <div class="col-sm-8">
                                        Phòng trọ sinh viên giá rẻ
                                    </div>
                                    <div class="col-sm-4 p-0">
                                        11/12/2020
                                    </div>                     
                                </div>
                            </div>                       
                        </div>
                    </div>

                    <div class="col-sm-12 m-1 border-bottom each-message-history">
                        <div class="row">
                            <!-- Avatar -->
                            <div class="col-sm-2 pl-1 pt-2">
                                <img class="avatarOwner" src="../static/image/10.png">
                            </div>
                            <div class="col-sm-10 name p-1">
                                <b>Nguyễn Hùng Duy</b>
                                <div class="row content">
                                    <div class="col-sm-8">
                                        Phòng trọ sinh viên giá rẻ
                                    </div>
                                    <div class="col-sm-4 p-0">
                                        10/12/2020
                                    </div>                     
                                </div>
                            </div>                       
                        </div>
                    </div>

                    <div class="col-sm-12 m-1 border-bottom each-message-history">
                        <div class="row">
                            <!-- Avatar -->
                            <div class="col-sm-2 pl-1 pt-2">
                                <img class="avatarOwner" src="../static/image/11.png">
                            </div>
                            <div class="col-sm-10 name p-1">
                                <b>Nguyễn Hùng Duy</b>
                                <div class="row content">
                                    <div class="col-sm-8">
                                        Phòng trọ sinh viên giá rẻ
                                    </div>
                                    <div class="col-sm-4 p-0">
                                        09/12/2020
                                    </div>                     
                                </div>
                            </div>                       
                        </div>
                    </div>

                    <div class="col-sm-12 m-1 border-bottom each-message-history">
                        <div class="row">
                            <!-- Avatar -->
                            <div class="col-sm-2 pl-1 pt-2">
                                <img class="avatarOwner" src="../static/image/12.png">
                            </div>
                            <div class="col-sm-10 name p-1">
                                <b>Nguyễn Hùng Duy</b>
                                <div class="row content">
                                    <div class="col-sm-8">
                                        Phòng trọ sinh viên giá rẻ
                                    </div>
                                    <div class="col-sm-4 p-0 ">
                                        08/12/2020
                                    </div>                     
                                </div>
                            </div>                       
                        </div>
                    </div>

                    <div class="col-sm-12 m-1 border-bottom each-message-history">
                        <div class="row">
                            <!-- Avatar -->
                            <div class="col-sm-2 pl-1 pt-2">
                                <img class="avatarOwner" src="../static/image/6.png">
                            </div>
                            <div class="col-sm-10 name p-1">
                                <b>Nguyễn Hùng Duy</b>
                                <div class="row content">
                                    <div class="col-sm-8">
                                        Phòng trọ sinh viên giá rẻ
                                    </div>
                                    <div class="col-sm-4 p-0">
                                        14/12/2020
                                    </div>                     
                                </div>
                            </div>                       
                        </div>
                    </div>

                    <div class="col-sm-12 m-1 each-message-history">
                        <div class="row">
                            <!-- Avatar -->
                            <div class="col-sm-2 pl-1 pt-2">
                                <img class="avatarOwner" src="../static/image/6.png">
                            </div>
                            <div class="col-sm-10 name p-1">
                                <b>Nguyễn Hùng Duy</b>
                                <div class="row content">
                                    <div class="col-sm-8">
                                        Phòng trọ sinh viên giá rẻ
                                    </div>
                                    <div class="col-sm-4 p-0">
                                        14/12/2020
                                    </div>                     
                                </div>
                            </div>                       
                        </div>
                    </div>
                </div>
                
            </div>

            <!-- Bên phải -->
            <div class="col-md-7 mt-4 mb-4 ml-1 border content-right">
                <!-- Thanh header -->
                <div class="col-sm-12 border-bottom">
                    <div class="row">
                        <div class="col-sm-1 pl-0 mt-3 mb-3">
                            <img class="avatarOwner" id="avtOwner" src="../static/image/1.png">
                        </div>
                        <div class="col-sm-11 pt-1 name mt-3 mb-3">
                            <b>Nguyễn Hùng Duy</b>
                        </div> 
                    </div>
                </div>

                <!-- Nội dung các tin nhắn -->
                <div id="message-right" class="row p-2">
                    <!-- Owner -->
                    <div class="col-sm-12 mt-1">
                        <div class="row">
                            <div class="col-sm-1 pl-0 pr-0">
                                <img class="avatarOwner" src="../static/image/1.png">
                            </div>
                            <div class="col-sm-8 mt-0 pl-0">                           
                                <div class="chatFromYou ">Chào mừng đến với Easy Accomod</div> 
                            </div> 
                            <div class="col-sm-3 each-message"></div>
                        </div>
                    </div>

                    <div class="col-sm-12 mt-1">
                        <div class="row">
                            <div class="col-sm-1 pl-0 pr-0">
                                <img class="avatarOwner" src="../static/image/1.png">
                            </div>
                            <div class="col-sm-8 mt-0 pl-0">                           
                                <div class="chatFromYou ">Chào mừng đến với Easy Accomod</div> 
                            </div> 
                            <div class="col-sm-3 each-message"></div>
                        </div>
                    </div>

                    <div class="col-sm-12 mt-1">
                        <div class="row">
                            <div class="col-sm-1 pl-0 pr-0">
                                <img class="avatarOwner" src="../static/image/1.png">
                            </div>
                            <div class="col-sm-8 mt-0 pl-0">                           
                                <div class="chatFromYou ">Chào mừng đến với Easy</div> 
                            </div> 
                            <div class="col-sm-3 each-message">
                                <img class="status-message-read-recent" src="../static/image/1.png">
                            </div>
                        </div>
                    </div>

                    <!-- Admin -->
                    <div class="col-sm-12 mt-2">
                        <div class="row m-0">
                            <div class="col-sm-4 pl-0"></div>
                            <div class="col-sm-8 pl-2 pr-2 pt-1">
                                <span class="chatFromMe ">Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod</span>                           
                                <img class="status-message " src="../static/image/unread.png">                           
                            </div> 
                        </div>
                    </div>
                    <div class="col-sm-12  ">
                        <div class="row m-0">
                            <div class="col-sm-4 pl-0"></div>
                            <div class="col-sm-8 pl-2 pr-2 pt-1">
                                <span class="chatFromMe ">Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod</span>                           
                                <img class="status-message" src="../static/image/unread.png">                           
                            </div> 
                        </div>
                    </div>
                    <div class="col-sm-12  ">
                        <div class="row m-0">
                            <div class="col-sm-4 pl-0"></div>
                            <div class="col-sm-8 pl-2 pr-2 pt-1">
                                <span class="chatFromMe ">Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod</span>                           
                                <img class="status-message" src="../static/image/unread.png">                           
                            </div> 
                        </div>
                    </div>
                    <div class="col-sm-12  ">
                        <div class="row m-0">
                            <div class="col-sm-4 pl-0"></div>
                            <div class="col-sm-8 pl-2 pr-2 pt-1">
                                <span class="chatFromMe ">Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod</span>                           
                                <img class="status-message" src="../static/image/unread.png">                           
                            </div> 
                        </div>
                    </div>
                    <div class="col-sm-12  ">
                        <div class="row m-0">
                            <div class="col-sm-4 pl-0"></div>
                            <div class="col-sm-8 pl-2 pr-2 pt-1">
                                <span class="chatFromMe ">Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod</span>                           
                                <img class="status-message" src="../static/image/loading-message.png">                           
                            </div> 
                        </div>
                    </div>
                    <div class="col-sm-12  "><div class="row m-0"><div class="col-sm-4 pl-0"></div><div class="col-sm-8 pl-2 pr-2 pt-1"><span class="chatFromMe ">Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod</span><img class="status-message" src="../static/image/loading-message.png"></div></div></div>


                    <!-- test -->
                    <div class="col-sm-12  "><div class="row m-0"><div class="col-sm-4 pl-0"></div><div class="col-sm-8 pl-2 pr-2 pt-1"><span class="chatFromMe ">Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod</span><img class="status-message" src="../static/image/loading-message.png"></div></div></div>
                </div>

                <!-- Thanh nhập tin nhắn -->
                <div class="row send border-top">
                    <div class="col-sm-11 mt-1 mb-1">
                        <input type="text" id="input-message" class="input-message" placeholder="Nhập tin nhắn">
                    </div>
                    <div class="col-sm-1 mt-2 pr-1 send-message" id="send-message" onclick="autoScroll()" onclick="renderMessageToHTML()">
                        <img class="" src="../static/image/send1.png">
                    </div>
                </div>
            </div>

            <!-- <div class="col-md-1"></div> -->
        </div>
    </div>

    <!-- Footer -->
    <div id="footer"></div>

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="../static/script/chat.js"></script>
</body>
</html>