<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Easy Accomod</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style/chat.css">
    <link rel="shortcut icon" href="../static/image/icon.png"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400" rel="stylesheet" />
    
</head>
<body>
    <!-- Menu -->
    <div id="menu"></div>

    <!-- Phần thân -->

    
    <div class="container">
        <div class="row">
            <!-- Bên trái -->
            <div class="col-md-4 mt-4 mb-4 border content-left">
                <!-- Thanh search -->
                <!-- <div class="col-sm-12 searchOwner border-bottom">
                    <div id="searchOwner" class="row mt-3 mb-3"></div>
                </div> -->

                <div class="col-sm-12 border-bottom">
                    <div id="" class="row mt-3 mb-3">
                        <div class="row">
                            <div class="col-sm-5">
                                <img class="logo" src="../static/image/logo.jpg">
                            </div>
                            <div class="col-sm-7 pt-1">
                                <a href="#" class="linktohome"> <b>EASY ACCOMOD</b> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Các tin nhắn gần nhất -->
                <div class="info">

                    <div class="col-sm-12 m-1 company-name">
                        <b>Công ty cổ phần Accomodation</b>
                    </div>

                    <div class="col-sm-12 m-1">
                        <div class="row location">
                            <div class="col-sm-1 ">
                                <img class="location-icon" src="../static/image/location.png">
                            </div>
                            <div class="col-sm-11">
                                Tầng 40, Keangnam Hanoi Landmark, Phạm Hùng, Nam Từ Liêm, Hà Nội
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-12 m-1">
                        <div class="row location">
                            <div class="col-sm-1 ">
                                <img class="location-icon" src="../static/image/contact.png">
                            </div>
                            <div class="col-sm-11">
                                (024) 3562 5939 - 097 9134 936
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 m-4">
                        <div class="row">
                            <div class="col-sm-6">
                                <img class="registered" src="../static/image/registered.png">
                            </div>
                            <div class="col-sm-1 p-0">
                                <img class="contact-icon" src="../static/image/facebook-icon.png">
                            </div>
                            <div class="col-sm-1 p-0">
                                <img class="contact-icon" src="../static/image/youtube-icon.png">
                            </div>
                            <div class="col-sm-1 pl-1">
                                <img class="contact-icon" src="../static/image/zalo-icon2.png">
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <!-- Bên phải -->
            <div class="col-md-8 mt-4 mb-4 border content-right">
                <!-- Thanh header -->
                <div class="col-sm-12 border-bottom">
                    <div class="row">
                        <div class="col-sm-1 pl-0 mt-3 mb-3">
                            <img class="avatarOwner" src="../static/image/0.png">
                        </div>
                        <div class="col-sm-11 pt-1 name mt-3 mb-3">
                            <b>Admin</b>
                        </div> 
                    </div>
                </div>

                <!-- Nội dung các tin nhắn -->
                <div class="row message-right p-2">
                    <!-- Owner -->
                    <div class="col-sm-12 mt-2">
                        <div class="row">
                            <div class="col-sm-1 pl-0 pr-0"></div>
                            <div class="col-sm-8 mt-0 pl-0">                           
                                <div class="chatFromYou youtop">Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod</div> 
                            </div> 
                            <div class="col-sm-3 each-message"></div>
                        </div>
                    </div>

                    <div class="col-sm-12 mt-2">
                        <div class="row">
                            <div class="col-sm-1 pl-0 pr-0"></div>
                            <div class="col-sm-8 mt-0 pl-0">                           
                                <div class="chatFromYou youmiddle">Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod</div> 
                            </div> 
                            <div class="col-sm-3 each-message"></div>
                        </div>
                    </div>

                    <div class="col-sm-12 mt-2">
                        <div class="row">
                            <div class="col-sm-1 pl-0 pr-0">
                                <img class="avatarOwner" src="../static/image/1.png">
                            </div>
                            <div class="col-sm-8 mt-0 pl-0">                           
                                <div class="chatFromYou youbot">Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod</div> 
                            </div> 
                            <div class="col-sm-3 each-message">
                                <img class="status-message-read-recent" src="../static/image/1.png">
                            </div>
                        </div>
                    </div>

                    <!-- Admin -->
                    <div class="col-sm-12 mt-2">
                        <div class="row m-0">
                            <div class="col-sm-4 pl-0"></div>
                            <div class="col-sm-8 pl-2 pr-2 pt-1">
                                <span class="chatFromMe metop">Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod</span>                           
                                <img class="status-message" src="../static/image/read.png">                           
                            </div> 
                        </div>
                    </div>
                    <div class="col-sm-12  ">
                        <div class="row m-0">
                            <div class="col-sm-4 pl-0"></div>
                            <div class="col-sm-8 pl-2 pr-2 pt-1">
                                <span class="chatFromMe memiddle">Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod</span>                           
                                <img class="status-message" src="../static/image/read.png">                           
                            </div> 
                        </div>
                    </div>
                    <div class="col-sm-12  ">
                        <div class="row m-0">
                            <div class="col-sm-4 pl-0"></div>
                            <div class="col-sm-8 pl-2 pr-2 pt-1">
                                <span class="chatFromMe memiddle">Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod</span>                           
                                <img class="status-message" src="../static/image/read.png">                           
                            </div> 
                        </div>
                    </div>
                    <div class="col-sm-12  ">
                        <div class="row m-0">
                            <div class="col-sm-4 pl-0"></div>
                            <div class="col-sm-8 pl-2 pr-2 pt-1">
                                <span class="chatFromMe memiddle">Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod</span>                           
                                <img class="status-message" src="../static/image/read.png">                           
                            </div> 
                        </div>
                    </div>
                    <div class="col-sm-12  ">
                        <div class="row m-0">
                            <div class="col-sm-4 pl-0"></div>
                            <div class="col-sm-8 pl-2 pr-2 pt-1">
                                <span class="chatFromMe memiddle">Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod</span>                           
                                <img class="status-message" src="../static/image/loading-message.png">                           
                            </div> 
                        </div>
                    </div>
                    <div class="col-sm-12  ">
                        <div class="row m-0">
                            <div class="col-sm-4 pl-0"></div>
                            <div class="col-sm-8 pl-2 pr-2 pt-1">
                                <span class="chatFromMe mebot">Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod Chào mừng đến với Easy Accomod</span>                           
                                <img class="status-message" src="../static/image/loading-message.png">                           
                            </div> 
                        </div>
                    </div>
                </div>

                <!-- Thanh nhập tin nhắn -->
                <div class="row send border-top">
                    <div class="col-sm-11 mt-2 mb-2">
                        <input type="text" class="input-message" placeholder="Nhập tin nhắn">
                    </div>
                    <div class="col-sm-1 mt-2 mb-2 pr-1 send-message">
                        <img class="send-mesage" src="../static/image/send1.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div id="footer"></div>

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="../static/script/chat.js"></script>
</body>
</html>