<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Easy Accomod</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style/common.css">
    <link rel="stylesheet" href="../static/style/detail-post.css">
    <link rel="shortcut icon" href="../static/image/icon.png"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Varta:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Menu -->
    <div id="menu"></div>

    <!-- Nội dung chính -->
    <div class="container main" id="blur">
        <div class="row">

            <!-- Cột bên trái -->
            <div class="col-lg-5 my-5 px-0">
                <!-- Ảnh chính -->
                <div class="main-img">
                    <img class="mySlides" src="../static/image/test-post1.jpg">
                    <img class="mySlides" src="../static/image/test-post2.jpg">
                    <img class="mySlides" src="../static/image/test-post3.jpg">
                    <img class="mySlides" src="../static/image/test-post4.jpg">
                </div>
                <div class="w3-center">
                    <div class="w3-section">
                        <button class="w3-button w3-light-grey" onclick="plusDivs(-1)">❮ Trước</button>
                        <button class="w3-button w3-light-grey" onclick="plusDivs(1)">Sau ❯</button>
                    </div>
                </div>

                <!-- Thông tin người đăng -->
                <div class="author-info border">
                    <h5 class="page-title"><b>Thông tin người đăng</b></h5>
                    <address>
                        <div class="row">
                            <div class="col-sm-4">
                                <div><b>Họ tên: </b></div>
                                <div><b>Liên hệ: </b></div>
                                <div><b>Email: </b></div>
                                <div><b>Ngày đăng: </b></div>
                                <div><b>Ngày hết hạn: </b></div>
                            </div>
                            <div class="col-sm-8 pl-0">
                                <div id="fullname">Vũ Thành Trung</div>
                                <div id="phoneNumber">123456789</div>
                                <div id="email">abc@gmail.com</div>
                                <div id="acceptDate">20/11/2020</div>
                                <div id="expireDate">20/12/2020</div>
                            </div>
                        </div>
                    </address>
                </div>
                <button class="button-rp"><span>Báo cáo</span></button>
            </div>

            <!-- Cột bên phải -->
            <div class="col-lg-7 my-5">
                <!-- Tên bài đăng -->
                <h2 class="mb-3" id="titlePost">Phòng trọ Hanoi Home</h2>

                <div class="row">
                    <!-- Địa chỉ -->
                    <div class="col-md-9">
                        <h5 id="address">Bình Chánh, Bình Chánh, Hồ Chí Minh</h5>
                    </div>

                    <!-- Trạng thái phòng trọ -->
                    <div class="room-status col-md-3">
                        <h5 id="statusHired">Chưa thuê</h5>
                    </div>
                </div>

                <!-- Lượt xem, like -->
                <div class="view-like-section row py-2">
                    <div class="col-md-6"></div>
                    <div class="col-md-3 text-center">
                        <span class="fa fa-eye"></span>
                        <p id="views">35</p> <p> lượt xem </p>
                    </div>
                    <div class="col-md-3 text-center">
                        <span class="fa fa-heart"></span>
                        <p id="likes">20</p> <p>lượt thích</p>
                    </div>
                </div>

                <!-- Loại phòng - Chung/Không chung chủ -->
                <h5 class="page-title"><b> <b id="itemType">Phòng trọ</b> - <b id="statusItem">Không chung chủ</b> </b></h5>

                <!-- Giá điện, số nước, diện tích, giá phòng -->
                <div class="row price-water-elec">
                    <div class="col-md-3 label-price">
                        <h5>Giá nước:</h5>
                    </div>
                    <div class="col-md-3">
                        <h5 id="priceWater">60.000₫/người</h5>
                    </div>
                    <div class="col-md-3 label-price">
                        <h5>Giá điện:</h5>
                    </div>
                    <div class="col-md-3 pr-0" style="">
                        <h5 id="priceElectric">4.000₫/số</h5>
                    </div>
                </div>
                <div class="row price-room-area">
                    <div class="col-md-3 label-price">
                        <h5>Diện tích:</h5>
                    </div>
                    <div class="col-md-3">
                        <h5 id="area">22 m<sup>2</sup> </h5>
                    </div>
                    <div class="col-md-3 label-price">
                        <h5>Giá phòng:</h5>
                    </div>
                    <div class="col-md-3 pr-0" style="">
                        <h5><b><span id="priceItem">2.5</span> triệu/tháng</b></h5>
                    </div>
                </div>

                <!-- Cơ sở vật chất -->
                <h5 class="page-title"><b>Cơ sở vật chất</b></h5>
                <div class="row utility-row-top">
                    <div class="col-lg-6">
                        <div class="row">
                            <img src="../static/image/bed-icon.png"/>
                            <h5> <span id="numOfRoom">2</span> phòng ngủ</h5>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <img src="../static/image/gas-stove-icon.png"/>
                            <h5 id="kitchen">Khu bếp riêng</h5>
                        </div>
                    </div>
                </div>
                <div class="row utility-row-middle">
                    <div class="col-lg-6">
                        <div class="row">
                            <img src="../static/image/toilet-icon.png"/>
                            <h5 id="bathroomType">WC khép kín</h5>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <img src="../static/image/water-heater-icon.png"/>
                            <h5 id="bathroomWater">Nóng lạnh</h5>
                        </div>
                    </div>
                </div>
                <div class="row utility-row-bottom">
                    <div class="col-lg-6">
                        <div class="row">
                            <img src="../static/image/air-conditioner-icon.png"/>
                            <h5 id="aircondition">Điều hòa</h5>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <img src="../static/image/balcony-icon.png"/>
                            <h5 id="balcony">Ban công</h5>
                        </div>
                    </div>
                </div>

                <!-- Tiện ích khác -->
                <h5 class="page-title"><b>Tiện ích khác</b></h5>
                <div class="row utility-row-other">
                    <img src="../static/image/refrigerator-icon.png">
                    <img src="../static/image/washing-machine-icon.png">
                    <img src="../static/image/wardrobe-icon.png">
                    <img src="../static/image/television-icon.png">
                    <img src="../static/image/free-wifi-icon.png">
                </div>

                <!-- Nội dung bài đăng -->
                <h5 class="page-title"><b>Thông tin mô tả</b></h5>
                <article>
                    <p id="contentPost">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </article>

                <!-- Review, comment -->
                <h5 class="page-title"><b>Đánh giá</b></h5>

                <div class="review-comment row border">
                    <!-- Rating -->
                    <div class="col-md-12">
                        <div class="row p-0">
                            <div class="col-md-3 rating py-2" id="rate">
                                <img onmouseover="ratedhover(this)" onclick="rated(this)" onmouseout="unrate(this)" id="s1" src="../static/image/star-unfill.png">
                                <img onmouseover="ratedhover(this)" onclick="rated(this)" onmouseout="unrate(this)" id="s2" src="../static/image/star-unfill.png">
                                <img onmouseover="ratedhover(this)" onclick="rated(this)" onmouseout="unrate(this)" id="s3" src="../static/image/star-unfill.png">
                                <img onmouseover="ratedhover(this)" onclick="rated(this)" onmouseout="unrate(this)" id="s4" src="../static/image/star-unfill.png">
                                <img onmouseover="ratedhover(this)" onclick="rated(this)" onmouseout="unrate(this)" id="s5" src="../static/image/star-unfill.png">
                            </div>
                            <div class="col-md-9">
                                <div class="rate-status row p-0 m-0">
                                    Cảm ơn bạn đã đánh giá!
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="row p-0">
                            <div class="col-sm-1">
                                <div class="rate-point-container bg-success text-white text-center rounded mr-3">
                                    <span id="avgRatingPoint">4.5</span>
                                </div>
                            </div>
                            <div class="col-sm-11">
                                <p> <b>(<span id="totalRates">45</span> đánh giá)</b> </p>
                            </div>
                        </div>
                    </div>


                    <!-- Comment -->
                    <div class="comment-section col-sm-12">
                        <div class="col-md-12 guest-comment px-0">
                            <div class="row">
                                <div class="col-sm-1">
                                    <img id="sessionRenterImageID" src="../static/image/1.png">
                                </div>
                                <div class="col-sm-11">
                                    <div class="form-group mb-1">
                                        <input class="form-control" id="commentText" placeholder="Nhập bình luận">
                                    </div>
                                    <div class="btn btn-primary pt-1" onclick="binhLuan()">Bình luận</div>
                                </div>
                            </div>
                            <div class="each-comment row pt-3">
                                <div class="col-sm-1">
                                    <img id="renterImageID" src="../static/image/1.png">
                                </div>
                                <div class="col-sm-11">
                                    <div class="row info-guest">
                                        <div class="col-sm-6 pt-2 pl-0">
                                            <p><b id="renterName">Nguyễn Đức Tới</b></p>
                                            <p id="rateDate">21/11/2010</p>
                                        </div>
                                        <div class="col-sm-6 rating-history py-2">
                                            <div id="stars">
                                                <img src="../static/image/star-fill.png">
                                                <img src="../static/image/star-fill.png">
                                                <img src="../static/image/star-fill.png">
                                                <img src="../static/image/star-fill.png">
                                                <img src="../static/image/star-unfill.png">
                                            </div>

                                        </div>

                                    </div>
                                    <div class="">
                                        <p class="">Nhà trọ xịn quá!Nhà trọ xịn quá!Nhà trọ xịn quá!Nhà trọ xịn quá!Nhà trọ xịn quá!Nhà trọ xịn quá!Nhà trọ xịn quá!Nhà trọ xịn quá!Nhà trọ xịn quá!Nhà trọ xịn quá!Nhà trọ xịn quá!Nhà trọ xịn quá!Nhà trọ xịn quá!Nhà trọ xịn quá!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="" id="popup-report">
        <div class="rp-head">
            <div class="rp-header">
                <span>Báo cáo</span>
            </div>
            <div class="rp-close">
                <i class="fa fa-times"></i>
            </div>
        </div>
        <div class="rp-content">
            <div class="rp-check-area">
                <button type="button" id="lyDo1">
                    <span>Thông tin không đúng</span>
                </button>
                <button type="button" id="lyDo2">
                    <span>Giá chưa hợp lý</span>
                </button>
            </div>
            <div class="form-group">
                <textarea class="form-control" id="otherReason" rows="2" placeholder="Lý do khác"></textarea>
            </div>
        </div>
        <div class="rp-warning">
            <i class="fa fa-exclamation-triangle"></i>
            Vui lòng cân nhắc kỹ trước khi báo cáo.
        </div>
        <div class="rp-bottom">
            <button id="btnSendRp" onclick="sendRp()">
                <span>Gửi báo cáo</span>
            </button>
        </div>
    </div>
    <div id="footer"></div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- JQuery lib -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/script/detail-post.js"></script>
</body>
</html>
