<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Easy Accomod</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style/common.css">
    <link rel="stylesheet" href="../static/style/detail-post.css">
    <link rel="shortcut icon" href="../static/image/icon.png"/>
    <script src="https://kit.fontawesome.com/43ada5badf.js"></script>
</head>
<body>
    <!-- Menu -->
    <div id="menu"></div>

    <!-- Nội dung chính -->
    <div class="container main" id="blur">
        <div class="row px-15">

            <!-- Cột bên trái -->
            <div class="col-lg-5 my-5">
                <!-- Ảnh chính -->
                <div class="main-img">
                    <!-- <img class="mySlides" src="../static/image/no_image_available.jpeg"> -->
                    <img class="mySlides" id="gif" src="../static/image/loading.gif">
                </div>
                <div class="w3-center">
                    <div class="w3-section">
                        <button class="w3-button w3-light-grey" onclick="plusDivs(-1)">❮ Trước</button>
                        <button class="w3-button w3-light-grey" onclick="plusDivs(1)">Sau ❯</button>
                    </div>
                </div>

                <!-- Thông tin người đăng -->
                <div class="author-info border">
                    <h5 class="page-title text-center"><b>Thông tin người đăng</b></h5>
                    <address>
                        <div class="flex-column pl-15">
                            <span><b>Họ tên: </b><span id="fullname"></span></span>
                            <span><b>Liên hệ: </b><span id="phoneNumber"></span></span>
                            <span><b>Địa chỉ: </b><span id="addressAuthor"></span></span>
                            <span><b>Ngày đăng: </b><span id="createDate"></span></span>
                            <span><b>Ngày hết hạn: </b><span id="expireDate"></span></span>
                        </div>
                    </address>
                </div>
                <div>
                    <button class="button-rp"><span>Báo cáo</span></button>
                    <div class="save-favourite" onclick="saveFavourite()">
                        Lưu tin
                        <i id="saveBtn" class="far fa-heart"></i>
                    </div>
                </div>
            </div>

            <!-- Cột bên phải -->
            <div class="col-lg-7 my-5">
                <!-- Tên bài đăng -->
                <h2 class="mb-3" id="titlePost"></h2>

                <div class="row">
                    <!-- Địa chỉ -->
                    <div class="col-sm-9">
                        <h5 id="addressDetail"></h5>
                    </div>

                    <!-- Trạng thái phòng trọ -->
                    <div class="room-status col-sm-3">
                        <h5 id="statusHired"></h5>
                    </div>
                </div>
                <h5 id="address"></h5>
                <!-- Lượt xem, like -->
                <div class="view-like-section py-2">
                    <div class="mr-3">
                        <span class="fas fa-eye"></span>
                        <p id="views"></p> <p> lượt xem </p>
                    </div>
                    <div>
                        <span class="fas fa-heart"></span>
                        <p id="likes"></p> <p>lượt thích</p>
                    </div>
                </div>

                <!-- Loại phòng - Chung/Không chung chủ -->
                <h5 class="page-title"><b> <b id="itemType"></b> - <b id="statusItem"></b> </b></h5>

                <!-- Giá điện, số nước, diện tích, giá phòng -->
                <div class="row price-water-elec mx-0">
                    <div class="col-sm-6 p-0">
                        <div class="flex-row m-0">
                            <div class="col-sm-6 p-0">
                                <div class="label-price px-15">
                                    <h5>Giá nước:</h5></div></div>
                            <div class="col-sm-6 p-0">
                                <div class="px-15">
                                    <h5 id="priceWater"></h5></div></div></div></div>
                    <div class="col-sm-6 p-0">
                        <div class="row mx-0">
                            <div class="col-sm-6 p-0">
                                <div class="label-price px-15">
                                    <h5>Giá điện:</h5>
                                </div>
                            </div>
                            <div class="col-sm-6 p-0">
                                <div class="pl-15">
                                    <h5 id="priceElectric"></h5></div></div></div></div></div>
                <div class="price-room-area mx-0">
                    <h5>Diện tích: <span id="area"></span> m<sup>2</sup></h5>
                    <h5>Giá phòng: <span id="priceItem"></span> đồng/tháng</h5></div>

                <!-- Cơ sở vật chất -->
                <h5 class="page-title"><b>Cơ sở vật chất</b></h5>
                <div class="row utility-row-top">
                    <div class="col-lg-6">
                        <div class="row">
                            <img src="../static/image/bed-icon.png"/>
                            <h5> <span id="numOfRoom"></span> phòng ngủ</h5>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <img src="../static/image/gas-stove-icon.png"/>
                            <h5 id="kitchen"></h5>
                        </div>
                    </div>
                </div>
                <div class="row utility-row-middle">
                    <div class="col-lg-6">
                        <div class="row">
                            <img src="../static/image/toilet-icon.png"/>
                            <h5 id="bathroomType"></h5>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <img src="../static/image/water-heater-icon.png"/>
                            <h5 id="bathroomWater"></h5>
                        </div>
                    </div>
                </div>
                <div class="row utility-row-bottom">
                    <div class="col-lg-6">
                        <div class="row">
                            <img src="../static/image/air-conditioner-icon.png"/>
                            <h5 id="aircondition"></h5>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <img src="../static/image/balcony-icon.png"/>
                            <h5 id="balcony"></h5>
                        </div>
                    </div>
                </div>

                <!-- Tiện ích khác -->
                <h5 class="page-title"><b>Tiện ích khác</b></h5>
                <div class="row utility-row-other">
                    <img src="../static/image/refrigerator-icon.png">
                    <img src="../static/image/washing-machine-icon.png">
                    <img src="../static/image/wardrobe-icon.png">
                    <img src="../static/image/television-icon.png">
                    <img src="../static/image/free-wifi-icon.png">
                </div>

                <!-- Nội dung bài đăng -->
                <h5 class="page-title"><b>Thông tin mô tả</b></h5>
                <article>
                    <p id="contentPost"></p>
                </article>

                <!-- Review, comment -->
                <h5 class="page-title"><b>Đánh giá</b></h5>

                <div class="review-comment border">
                    <!-- Rating -->
                    <div class="flex-row rating" id="rate">
                        <img onmouseover="ratedhover(this)" onclick="rated(this)" onmouseout="unrate(this)" id="s1" src="/static/image/star-unfill.png">
                        <img onmouseover="ratedhover(this)" onclick="rated(this)" onmouseout="unrate(this)" id="s2" src="/static/image/star-unfill.png">
                        <img onmouseover="ratedhover(this)" onclick="rated(this)" onmouseout="unrate(this)" id="s3" src="/static/image/star-unfill.png">
                        <img onmouseover="ratedhover(this)" onclick="rated(this)" onmouseout="unrate(this)" id="s4" src="/static/image/star-unfill.png">
                        <img onmouseover="ratedhover(this)" onclick="rated(this)" onmouseout="unrate(this)" id="s5" src="/static/image/star-unfill.png">
                        <div class="rate-status ml-3">Cảm ơn bạn đã đánh giá!</div>
                    </div>

                    <!-- Comment -->
                    <div class="comment-section px-15">
                        <div class="flex-column guest-comment">
                            <div class="flex-row">
                                <div class="col-sm-1 p-0">
                                    <img id="sessionRenterImageID" src="">
                                </div>
                                <div class="col-sm-11 p-0">
                                    <input class="form-control" id="commentText" type="text" placeholder="Nhập bình luận">
                                    <div class="btn btn-primary my-2" onclick="review()">Bình luận</div>
                                </div>
                            </div>
                            <div class="border"></div>

                            <!-- Comment đã hiển thị -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="" id="popup-report">
        <div class="rp-head">
            <div class="rp-header">
                <span>Báo cáo</span>
            </div>
            <div class="rp-close">
                <i class="fa fa-times"></i>
            </div>
        </div>
        <div class="rp-content">
            <div class="rp-check-area">
                <button type="button" id="lyDo1">
                    <span>Thông tin không đúng</span>
                </button>
                <button type="button" id="lyDo2">
                    <span>Giá chưa hợp lý</span>
                </button>
            </div>
            <div class="form-group">
                <textarea class="form-control" id="otherReason" rows="2" placeholder="Lý do khác"></textarea>
            </div>
        </div>
        <div class="rp-warning">
            <i class="fa fa-exclamation-triangle"></i>
            Vui lòng cân nhắc kỹ trước khi báo cáo.
        </div>
        <div class="rp-bottom">
            <button id="btnSendRp" onclick="sendRp()">
                <span>Gửi báo cáo</span>
            </button>
        </div>
    </div>

    <!-- Footer -->
    <div id="footer"></div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- JQuery lib -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/script/detail-post.js"></script>
</body>
</html>
