<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Easy Accomod</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style/common.css">
    <link rel="stylesheet" href="../static/style/detail-post.css">
    <link rel="shortcut icon" href="../static/image/icon.png"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Varta:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- Menu -->
    <div id="menu"></div>

    <!-- Nội dung chính -->
    <div class="container main">
        <div class="row">

            <!-- Cột bên trái -->
            <div class="col-lg-5 my-5 px-0">
                <!-- Ảnh chính -->
                <div class="main-img">
                    <img id="mainImage" src="../static/image/test-post1.jpg">
                    <img id="btnLike" onclick="check(this)" src="../static/image/heart-unfilled.png">
                </div>
                <!-- 3 ảnh phụ -->
                <div class="row sub-img">
                    <div class="col-sm-4">
                        <div class="row m-0">
                            <img src="../static/image/test-post1.jpg">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row m-0">
                            <img src="../static/image/test-post3.jpg">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row m-0">
                            <img src="../static/image/test-post4.jpg">
                        </div>
                    </div>
                </div>

                <!-- Thông tin người đăng -->
                <div class="author-info border">
                    <h5 class="page-title"><b>Thông tin người đăng</b></h5>
                    <address style="margin: 15px 0 0;">
                        <div class="row">
                            <div class="col-sm-4">
                                <div style="padding: 5px 0;"><b>Họ tên: </b></div>
                                <div style="padding: 5px 0;"><b>Liên hệ: </b></div>
                                <div style="padding: 5px 0 ;"><b>Email: </b></div>
                                <div style="padding: 5px 0 ;"><b>Ngày đăng: </b></div>
                                <div style="padding: 5px 0 0;"><b>Ngày hết hạn: </b></div>
                            </div>
                            <div class="col-sm-8 pl-0">
                                <div id="tenNguoiDang" style="padding: 5px 0;">Vũ Thành Trung</div>
                                <div id="soDienThoai" style="padding: 5px 0;">123456789</div>
                                <div id="email" style="padding: 5px 0 ;">abc@gmail.com</div>
                                <div id="ngayDang" style="padding: 5px 0 ;">20/11/2020</div>
                                <div id="ngayHetHan" style="padding: 5px 0 0;">20/12/2020</div>
                            </div>
                        </div>
                    </address>
                </div>
                <button class="button"><span>Báo cáo</span></button>
            </div>

            <!-- Cột bên phải -->
            <div class="col-lg-7 my-5">
                <!-- Tên bài đăng -->
                <h2 class="mb-3">Phòng trọ Hanoi Home</h2>

                <!-- Địa chỉ -->
                <h5 class="mb-0">Bình Chánh, Bình Chánh, Hồ Chí Minh</h5>
                <div class="row" style="padding: 0 15px 10px;">
                    <div class="col-md-6"></div>

                    <div class="col-md-3">

                    </div>

                    <!-- Trạng thái phòng trọ -->
                    <div class="col-md-3" style="background-color: #d1ad77; border-radius: 10px; box-shadow: 0 4px 12px 0 rgba(246,116,57,.4);">
                        <h5 style="margin: 8px 0; text-align: center;">Chưa thuê</h5>
                    </div>
                </div>

                <!-- Chung/Không chung chủ -->
                <h5 class="page-title"><b>Phòng trọ - Không chung chủ</b></h5>

                <!-- Giá điện, số nước, diện tích, giá phòng -->
                <div class="row" style="margin: 15px 0 0;">
                    <div class="col-lg-3 border border-right-0" style="background-color: #daf2f6; border-radius: 10px 0 0;">
                        <h5 style="margin: 8px 0;">Số nước:</h5>
                    </div>
                    <div class="col-lg-3 border border-left-0">
                        <h5 style="margin: 8px 0;">15 m<sup>3</sup> </h5>
                    </div>
                    <div class="col-lg-3 border-top border-bottom" style="background-color: #daf2f6;">
                        <h5 style="margin: 8px 0;">Giá điện:</h5>
                    </div>
                    <div class="col-lg-3 pr-0 border border-left-0" style="border-radius: 0 10px 0 0;">
                        <h5 style="margin: 8px 0;">4.000/số</h5>
                    </div>
                </div>
                <div class="row" style="margin: 0 0 15px;">
                    <div class="col-lg-3 border-left border-bottom" style="background-color: #daf2f6; border-radius: 0 0 0 10px;">
                        <h5 style="margin: 8px 0;">Diện tích:</h5>
                    </div>
                    <div class="col-lg-3 border-bottom border-right">
                        <h5 style="margin: 8px 0;">22 m<sup>2</sup> </h5>
                    </div>
                    <div class="col-lg-3 border-bottom" style="background-color: #daf2f6;">
                        <h5 style="margin: 8px 0;">Giá phòng:</h5>
                    </div>
                    <div class="col-lg-3 pr-0 border-bottom border-right" style="border-radius: 0 0 10px;">
                        <h5 style="margin: 8px 0; color: red;"><b>2.5 triệu/tháng</b></h5>
                    </div>
                </div>
                <br>

                <!-- Cơ sở vật chất -->
                <h5 class="page-title"><b>Cơ sở vật chất</b></h5>
                <div class="row" style="margin: 15px 0 0;">
                    <div class="col-lg-6" style="padding: 5px 15px;">
                        <div class="row" style="padding: 0 15px;">
                            <img src="../static/image/bed-icon.png" style="width: 40px; height: 40px;"/>
                            <h6 style="margin: auto 30px; font-size: 18px;">2 phòng ngủ</h6>
                        </div>
                    </div>
                    <div class="col-lg-6" style="padding: 5px 15px;">
                        <div class="row" style="padding: 0 15px;">
                            <img src="../static/image/gas-stove-icon.png" style="width: 40px; height: 40px;"/>
                            <h6 style="margin: auto 30px; font-size: 18px;">Bếp riêng</h6>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 0;">
                    <div class="col-lg-6" style="padding: 5px 15px;">
                        <div class="row" style="padding: 0 15px;">
                            <img src="../static/image/toilet-icon.png" style="width: 40px; height: 40px;"/>
                            <h5 style="margin: auto 30px; font-size: 18px;;">WC riêng</h5>
                        </div>
                    </div>
                    <div class="col-lg-6" style="padding: 5px 15px;">
                        <div class="row" style="padding: 0 15px;">
                            <img src="../static/image/water-heater-icon.png" style="width: 40px; height: 40px;"/>
                            <h5 style="margin: auto 30px; font-size: 18px;;">Nóng lạnh</h5>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 0 0 15px;">
                    <div class="col-lg-6" style="padding: 5px 15px;">
                        <div class="row" style="padding: 0 15px;">
                            <img src="../static/image/air-conditioner-icon.png" style="width: 40px; height: 40px;"/>
                            <h5 style="margin: auto 30px; font-size: 18px;;">Điều hòa</h5>
                        </div>
                    </div>
                    <div class="col-lg-6" style="padding: 5px 15px;">
                        <div class="row" style="padding: 0 15px;">
                            <img src="../static/image/balcony-icon.png" style="width: 40px; height: 40px;"/>
                            <h5 style="margin: auto 30px; font-size: 18px;;">Ban công</h5>
                        </div>
                    </div>
                </div>

                <h5 class="page-title"><b>Tiện ích khác</b></h5>
                <div class="row" style="margin: 15px 0 0; text-align: center;">
                    <img src="../static/image/refrigerator-icon.png" style="width: 40px; height: 40px; margin: auto;">
                    <img src="../static/image/washing-machine-icon.png" style="width: 40px; height: 40px; margin: auto;">
                    <img src="../static/image/wardrobe-icon.png" style="width: 40px; height: 40px; margin: auto;">
                    <img src="../static/image/television-icon.png" style="width: 40px; height: 40px; margin: auto; opacity: 0.3;">
                    <img src="../static/image/free-wifi-icon.png" style="width: 40px; height: 40px; margin: auto;">
                </div>
                <br>
                <br>

                <!-- Nội dung bài đăng -->
                <h5 class="page-title"><b>Thông tin mô tả</b></h5>
                <article id="noiDungPhongTro" style="margin: 15px 0;">
                    <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </article>
                <br>

                <!-- Review, comment -->
                <h5 class="page-title"><b>Đánh giá</b></h5>
                <div class="row" style="padding: 0 15px;">
                    <div class="col-sm-6">
                        <div class="row">
                            <span class="fa fa-eye" style="margin: 3px 5px 0 0;"></span><p style="margin: auto 0;">35 lượt xem</p>
                        </div>
                    </div>
                    <div class="col-sm-6 p-0">
                        <div class="text-right">
                            <span class="fa fa-heart" style="margin: 3px 5px 0 0;"></span><p style="display: inline; margin: auto 0;">20 lượt thích</p>
                        </div>
                    </div>
                </div>
                <div class=" row border" style="padding: 15px; margin: 10px 0 15px 0;">
                    <div class="rating">
                        <input type="radio" name="star" id="star1"><label for="star1"></label>
                        <input type="radio" name="star" id="star2"><label for="star2"></label>
                        <input type="radio" name="star" id="star3"><label for="star3"></label>
                        <input type="radio" name="star" id="star4"><label for="star4"></label>
                        <input type="radio" name="star" id="star5"><label for="star5"></label>
                    </div>
                    <div class="col-sm-12">
                        <div class="bg-success text-white text-center rounded" id="ratingPoint" style="margin: 0 0 8px 0; padding: 2px; width: 30px; height: 30px;">
                            <span>4</span>
                        </div>
                    </div>
                    <div class="col-sm-12 py-2">
                        <div class="form-group"> <input class="form-control" id="comment" placeholder="Nhập bình luận"></input> </div>
                        <div id="btnBinhLuan" class="btn btn-primary">Bình luận</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="py-3" style="background-color: #daf2f6;">
        <div class="container">
        <div class="row">
            <div class="col-md-12 text-center d-md-flex align-items-center" style="">
            <ul class="nav d-flex justify-content-center" style="margin-left: 425px; margin-right: 300px;">
                <li class="nav-item"> <a class="nav-link active" href="" style="color: inherit;">Trang chủ</a> </li>
                <li class="nav-item"> <a class="nav-link" href="" style="color: inherit;">Liên hệ</a> </li>
                <li class="nav-item app-map"> <a class="nav-link" href="https://goo.gl/maps/ZnWSTXHsRVEKNqzWA" target="_blank" style="color: inherit;">Bản đồ</a> </li>
            </ul>
            <div class="row">
                <div class="col-md-12 d-flex align-items-center justify-content-md-between justify-content-center my-2">
                <a>
                    <i class="d-block fa fa-facebook-official text-muted fa-lg mx-2"></i>
                </a>
                <a>
                    <i class="d-block fa fa-instagram text-muted fa-lg mx-2"></i>
                </a>
                <a>
                    <i class="d-block fa fa-twitter text-muted fa-lg ml-2"></i>
                </a> </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
            <p class="mt-2 mb-0">© 2020-2021 Easy Accomod. All rights reserved</p>
            </div>
        </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $('#menu').load('../static/page/menu.html');
    </script>
</body>
</html>
