<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../static/image/icon.png"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=El+Messiri:400,500,600,700|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="../static/style/signup-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Varta:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Chỉnh sửa</title>
</head>
<body>
    <div id="menu"></div>
    <div class="page">
        <div id="header1">
            <h2>Đổi mật khẩu và ảnh đại diện</h2>
        </div>
        <form class="needs-validation" novalidate>

            <!-- Hàng 3: Mật khẩu & nhập lại mật khẩu -->
            <div class="form-row">
                <div class="col-md-6 col-sm-12 col-12 mb-3">
                    <label for="" class="chimuc">Mật khẩu</label>
                    <input type="password" class="form-control" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}" placeholder="********" required>
                    <div class="invalid-feedback">Nhập mật khẩu.</div>
                    
                </div>
                <div class="col-md-6 col-sm-12 col-12 mb-3">
                    <label for="" class="chimuc">Nhập lại mật khẩu</label>
                    <input type="password" class="form-control" id="repassword" placeholder="********" required>
                    <div id="loi_repass" class="invalid-feedback">Xác thực mật khẩu.</div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 col-sm-12 col-12 mb-3">
                    <div class="note"><i>Mật khẩu phải từ 8-20 kí tự, ít nhất 1 chữ hoa, 1 chữ thường và 1 chữ số</i></div>
                </div>
            </div>

            <!-- Hàng 4: Ảnh đại diện -->
            <div class="form-row">
                <div class="col-md-12 col-sm-12 col-12">
                    <label for="" class="chimuc">Ảnh đại diện</label>
                </div>
            </div>
            <div class="form-row tienich">
                
                <div class="col-md-1 col-sm-2 col-2 mb-3 ava">
                    <abbr title="Ảnh 1"><img src="../static/image/1.png"> </abbr>                  
                </div>
                <div class="col-md-1 col-sm-2 col-2 mb-3 ava">
                    <abbr title="Ảnh 2"><img src="../static/image/2.png"> </abbr> 
                </div>
                <div class="col-md-1 col-sm-2 col-2 mb-3 ava">
                    <abbr title="Ảnh 3"><img src="../static/image/3.png"> </abbr>               
                </div>
                <div class="col-md-1 col-sm-2 col-2 mb-3 ava">
                    <abbr title="Ảnh 4"><img src="../static/image/4.png"> </abbr>              
                </div>
                <div class="col-md-1 col-sm-2 col-2 mb-3 ava">
                    <abbr title="Ảnh 5"><img src="../static/image/5.png"> </abbr>                   
                </div>
                <div class="col-md-1 col-sm-2 col-2 mb-3 ava">
                    <abbr title="Ảnh 6"><img src="../static/image/6.png"> </abbr> 
                </div>
                <div class="col-md-1 col-sm-2 col-2 mb-3 ava">
                    <abbr title="Ảnh 7"><img src="../static/image/7.png"> </abbr>                  
                </div>
                <div class="col-md-1 col-sm-2 col-2 mb-3 ava">
                    <abbr title="Ảnh 8"><img src="../static/image/8.png"> </abbr> 
                </div>
                <div class="col-md-1 col-sm-2 col-2 mb-3 ava">
                    <abbr title="Ảnh 9"><img src="../static/image/9.png"> </abbr>               
                </div>
                <div class="col-md-1 col-sm-2 col-2 mb-3 ava">
                    <abbr title="Ảnh 10"><img src="../static/image/10.png"> </abbr>              
                </div>
                <div class="col-md-1 col-sm-2 col-2 mb-3 ava">
                    <abbr title="Ảnh 11"><img src="../static/image/11.png"> </abbr>                   
                </div>
                <div class="col-md-1 col-sm-2 col-2 mb-3 ava">
                    <abbr title="Ảnh 12"><img src="../static/image/12.png"> </abbr> 
                </div>
            </div>

            <!-- Hàng 11: Button -->
            <div class="form-row">
                <div class="col-md-12 col-sm-12 col-12 mb-3">
                    <button class="btn btn-primary mb-3" style="float: right" type="submit">Lưu thay đổi</button>
                </div>
            </div> 
        </form>
    </div>
  
    <div id="footer"></div>
    <!-- Bootstrap lib -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- JQuery lib -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Slider css, js lib -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="../static/script/md5.min.js"></script>
    <script src="../static/script/edit-infoA.js"></script>
</body>
</html>