<!DOCTYPE html>
<html lang="en">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="../static/image/icon.png"/>
	<link rel="stylesheet" href="../static/style/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="../static/style/historyB-style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Lịch sử</title>
</head>
<body>
	<div class="content-homepage">
	    <!-- Danh sách -->
	    <div class="container">
	    	<div class="tieude">
	    		<h1> Lịch sử </h1>
	    	</div>
	        <div class="row content-homepage-home3">
	        	<div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
	        		<div class="row">

	        			<!-- Danh sách đã xem -->
			            <div class=" col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
			                <div class="product-out">
			                    <div class="title">
			                        <h2 class="text-center">Danh sách xem</h2>
			                    </div>
			                    <div id="demo-slide1" class="carousel slide view" data-ride="carousel">
			                        <!-- Chỉ mục slide -->
			                        <ul class="carousel-indicators">
			                            <li data-target="#demo-slide1" data-slide-to="0" class="active"></li>
			                            <li data-target="#demo-slide1" data-slide-to="1" class=""></li>
			                            <li data-target="#demo-slide1" data-slide-to="2" class=""></li>
			                        </ul>
			                        <!-- Phần slide -->
			                        <div class="carousel-inner">
			                            <div class="carousel-item active">
			                                <div class="row product">
			                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                                
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#1 </a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Phòng sinh viên</a></p>
			                                                <span class="price">
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">14 Dương Quảng Hàm</span>
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>

			                                    </div>
			                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#2</a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                   Phòng trọ giá rẻ</a></p>

			                                                <span class="price">
																<del>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol"></span>

																	</span>
																</del>
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">14/165 Cầu Giấy</span>
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>
			                                    </div>
			                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#3 </a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Rẻ siêu cấp</a></p>

			                                                <span class="price">
																<del>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol"></span>

																	</span>
																</del>
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">54 Mỹ Đình</span>
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="carousel-item">
			                                <div class="row product">
			                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="http://html.physcode.com/uray/index3.html#" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#4 </a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Cleanser layde</a></p>
			                                                <span class="price">
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>79
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>

			                                    </div>
			                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="http://html.physcode.com/uray/index3.html#" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#5</a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Night cream</a></p>

			                                                <span class="price">
																<del>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>45

																	</span>
																</del>
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>38
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>
			                                    </div>
			                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="http://html.physcode.com/uray/index3.html#" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#6 </a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Perfect Spice</a></p>

			                                                <span class="price">
																<del>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>51

																	</span>
																</del>
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>41
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="carousel-item">
			                                <div class="row product">
			                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="http://html.physcode.com/uray/index3.html#" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#7 </a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Cleanser layde</a></p>
			                                                <span class="price">
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>79
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>

			                                    </div>
			                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="http://html.physcode.com/uray/index3.html#" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#8</a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Night cream</a></p>

			                                                <span class="price">
																<del>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>45

																	</span>
																</del>
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>38
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>
			                                    </div>
			                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="http://html.physcode.com/uray/index3.html#" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#9 </a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Perfect Spice</a></p>

			                                                <span class="price">
																<del>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>51

																	</span>
																</del>
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>41
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>
			                                    </div>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                    
			                </div>
			            </div>

			            <!-- Danh sách đã yêu thích -->
			            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
			                <div class="product-out">
			                    <div class="title">
			                        <h2 class="text-center">Danh sách yêu thích</h2>
			                    </div>
			                    <div id="demo-slide2" class="carousel slide" data-ride="carousel">
			                        <!-- Chỉ mục slide -->
			                        <ul class="carousel-indicators">
			                            <li data-target="#demo-slide2" data-slide-to="0" class="active"></li>
			                            <li data-target="#demo-slide2" data-slide-to="1" class=""></li>
			                            <li data-target="#demo-slide2" data-slide-to="2" class=""></li>
			                        </ul>
			                        <!-- Phần slide -->
			                        <div class="carousel-inner">
			                            <div class="carousel-item active">
			                                <div class="row product">
			                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="http://html.physcode.com/uray/index3.html#" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#1 </a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Cleanser layde</a></p>
			                                                <span class="price">
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>79
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>

			                                    </div>
			                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="http://html.physcode.com/uray/index3.html#" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#2</a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Night cream</a></p>

			                                                <span class="price">
																<del>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>45

																	</span>
																</del>
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>38
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>
			                                    </div>
			                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="http://html.physcode.com/uray/index3.html#" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#3 </a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Perfect Spice</a></p>

			                                                <span class="price">
																<del>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>51

																	</span>
																</del>
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>41
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="carousel-item">
			                                <div class="row product">
			                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="http://html.physcode.com/uray/index3.html#" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#4 </a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Cleanser layde</a></p>
			                                                <span class="price">
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>79
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>

			                                    </div>
			                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="http://html.physcode.com/uray/index3.html#" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#5</a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Night cream</a></p>

			                                                <span class="price">
																<del>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>45

																	</span>
																</del>
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>38
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>
			                                    </div>
			                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="http://html.physcode.com/uray/index3.html#" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#6 </a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Perfect Spice</a></p>

			                                                <span class="price">
																<del>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>51

																	</span>
																</del>
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>41
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="carousel-item">
			                                <div class="row product">
			                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="http://html.physcode.com/uray/index3.html#" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#7 </a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Cleanser layde</a></p>
			                                                <span class="price">
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>79
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>

			                                    </div>
			                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="http://html.physcode.com/uray/index3.html#" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#8</a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Night cream</a></p>

			                                                <span class="price">
																<del>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>45

																	</span>
																</del>
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>38
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>
			                                    </div>
			                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="http://html.physcode.com/uray/index3.html#" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#9 </a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Perfect Spice</a></p>

			                                                <span class="price">
																<del>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>51

																	</span>
																</del>
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>41
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>
			                                    </div>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
	            		</div>
		        	</div>
		        </div>
	        </div>
	    </div>
	   
	    
	</div>
	<!--End code-->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>