<!DOCTYPE html>
<html lang="en">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="../static/image/icon.png"/>
	<link rel="stylesheet" href="../static/style/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="../static/style/historyB-style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	
	
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Lịch sử</title>
</head>
<body>
	<div id="menu"></div>

	<div class="content-homepage">
		<!-- Danh sách -->
		<div class="container tieude">
			<div>
		</div>
			<h1> Lịch sử </h1>
		</div>
	    <div class="container like">
	        <div class="row content-homepage-home3">
	        	<div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
	        		<div class="row">

	        			

			            <!-- Danh sách đã yêu thích -->
			            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			                <div class="product-out">
			                    <div class="title">
			                        <h2 class="text-center">Danh sách yêu thích</h2>
			                    </div>
			                    <div id="demo-slide2" class="carousel slide" data-ride="carousel">
			                        <!-- Chỉ mục slide -->
			                        <ul class="carousel-indicators">
			                            <li data-target="#demo-slide2" data-slide-to="0" class="active"></li>
			                            <li data-target="#demo-slide2" data-slide-to="1" class=""></li>
			                            <li data-target="#demo-slide2" data-slide-to="2" class=""></li>
			                        </ul>
			                        <!-- Phần slide -->
			                        <div class="carousel-inner">
			                            <div class="carousel-item active">
			                                <div class="row product">
			                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a class="wp-post-image">
																<img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
																<div class="item-favourite">
																	<i class="fas fa-heart red" onclick="saveFavourite(this)"></i>
																</div>
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="">#1 </a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="">
																Phòng trọ sinh viên giá rẻ</a></p>
																
			                                                <span class="price">
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">144 đường Đình Xuyên, Đình Xuyên, Gia Lâm, Hà Nội</span>
																	</span>
																</ins>
															</span>
															<p class="gia">
																2,5 triệu/tháng
															</p>
			                                            </div>
			                                        </div>

			                                    </div>
			                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a class="wp-post-image">
																<img class="image-cover" src="../static/image/home-background-2.jpg" alt="product">
																<div class="item-favourite">
																	<i class="fas fa-heart red" onclick="saveFavourite(this)"></i>
																</div>
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="">#2</a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="">
			                                                    Phòng sinh viên</a></p>

			                                                <span class="price">
																<del>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol"></span>

																	</span>
																</del>
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">Hồ Tùng Mậu</span>
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>
			                                    </div>
			                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a class="wp-post-image">
																<img class="image-cover" src="../static/image/background-post.jpg" alt="product">
																<div class="item-favourite">
																	<i class="fas fa-heart red" onclick="saveFavourite(this)"></i>
																</div>
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="">#3 </a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="">
			                                                    Giá tốt nhất</a></p>

			                                                <span class="price">
																<del>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol"></span>

																	</span>
																</del>
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">Phan Bá Vành</span>
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>
												</div>
												<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a class="wp-post-image">
																<img class="image-cover" src="../static/image/item-demo1.png" alt="product">
																<div class="item-favourite">
																	<i class="fas fa-heart red" onclick="saveFavourite(this)"></i>
																</div>
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="">#4 </a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="">
			                                                    Giảm giá 20%</a></p>

			                                                <span class="price">
																<del>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol"></span>

																	</span>
																</del>
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">Trần Thái Tông</span>
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>
			                                    </div>
			                                </div>
										</div>
										<div class="carousel-item">
			                                <div class="row product">
			                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="http://html.physcode.com/uray/index3.html#" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#1 </a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Cleanser layde</a></p>
			                                                <span class="price">
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>79
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>

			                                    </div>
			                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="http://html.physcode.com/uray/index3.html#" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#2</a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Night cream</a></p>

			                                                <span class="price">
																<del>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>45

																	</span>
																</del>
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>38
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>
			                                    </div>
			                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="http://html.physcode.com/uray/index3.html#" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#3 </a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Perfect Spice</a></p>

			                                                <span class="price">
																<del>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>51

																	</span>
																</del>
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>41
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>
												</div>
												<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="http://html.physcode.com/uray/index3.html#" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#3 </a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Perfect Spice</a></p>

			                                                <span class="price">
																<del>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>51

																	</span>
																</del>
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>41
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>
			                                    </div>
			                                </div>
										</div>
										<div class="carousel-item">
			                                <div class="row product">
			                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="http://html.physcode.com/uray/index3.html#" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#1 </a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Cleanser layde</a></p>
			                                                <span class="price">
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>79
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>

			                                    </div>
			                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="http://html.physcode.com/uray/index3.html#" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#2</a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Night cream</a></p>

			                                                <span class="price">
																<del>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>45

																	</span>
																</del>
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>38
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>
			                                    </div>
			                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="http://html.physcode.com/uray/index3.html#" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#3 </a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Perfect Spice</a></p>

			                                                <span class="price">
																<del>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>51

																	</span>
																</del>
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>41
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>
												</div>
												<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="http://html.physcode.com/uray/index3.html#" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#3 </a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Perfect Spice</a></p>

			                                                <span class="price">
																<del>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>51

																	</span>
																</del>
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>41
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>
			                                    </div>
			                                </div>
			                            </div>
			                            <!-- <div class="carousel-item">
			                                <div class="row product">
			                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="http://html.physcode.com/uray/index3.html#" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#4 </a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Cleanser layde</a></p>
			                                                <span class="price">
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>79
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>

			                                    </div>
			                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="http://html.physcode.com/uray/index3.html#" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#5</a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Night cream</a></p>

			                                                <span class="price">
																<del>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>45

																	</span>
																</del>
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>38
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>
			                                    </div>
			                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="http://html.physcode.com/uray/index3.html#" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#6 </a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Perfect Spice</a></p>

			                                                <span class="price">
																<del>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>51

																	</span>
																</del>
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>41
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="carousel-item">
			                                <div class="row product">
			                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="http://html.physcode.com/uray/index3.html#" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#7 </a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Cleanser layde</a></p>
			                                                <span class="price">
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>79
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>

			                                    </div>
			                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="http://html.physcode.com/uray/index3.html#" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#8</a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Night cream</a></p>

			                                                <span class="price">
																<del>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>45

																	</span>
																</del>
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>38
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>
			                                    </div>
			                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
			                                        <div class="card">
			                                            <div class="card-img-top">
			                                                <a href="http://html.physcode.com/uray/index3.html#" class="wp-post-image">
			                                                    <img class="image-cover" src="../static/image/home-background-1.jpg" alt="product">
			                                                </a>
			                                            </div>
			                                            <div class="card-body">
			                                                <p class="card-title"><a href="http://html.physcode.com/uray/product-list.html">#9 </a></p>
			                                                <p class="woocommerce-loop-product__title"><a href="http://html.physcode.com/uray/product-single.html">
			                                                    Perfect Spice</a></p>

			                                                <span class="price">
																<del>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>51

																	</span>
																</del>
																<ins>
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>41
																	</span>
																</ins>
			                                    			</span>
			                                            </div>
			                                        </div>
			                                    </div>
			                                </div>
			                            </div> -->
			                        </div>
			                    </div>
			                </div>
	            		</div>
		        	</div>
		        </div>
	        </div>
		</div>
		<div class="container view">
			<div class="row content-hompage-home3">
				<div class=" col-xl-12 col-lg-12 col-md-12 col-sml-12 col-12">
					<div class="row">

						<!-- Danh sách đã xem -->
			            <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			                <div class="product-out">
			                    <div class="title">
									<h2 class="text-center">Danh sách xem</h2>
									<div id="delete-all-btn">
										Xoá lịch sử
									</div>
								</div>
								
			                    <div id="demo-slide1" class="carousel slide view" data-ride="carousel">
			                        <!-- Phần slide -->
			                        <div class="carousel-inner">
			                            <div class="carousel-item active">
			                                <div id="list-view" class="row product">
			                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 frame-image">
													<div class="close" onclick="removeImage(this)">&times;</div>
													<img class="image-view" src="../static/image/home-background-1.jpg" alt="product">	
									                                                
													<span class="info">			                                                
														<p class="id"><a href="">#1 </a></p>
														<p class="titlepost"><a href="">
															Phòng trọ sinh viên giá rẻ</a></p>
														<p class="diachi">
															144 đường Đình Xuyên, Đình Xuyên, Gia Lâm, Hà Nội
														</p>
														<p class="gia">
															2,5 triệu/tháng
														</p>
													</span>	                                            
												</div>
												
												<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
													<img class="image-view" src="../static/image/background-post.jpg" alt="product">
													<span class="info">			                                                
														<p class="id"><a href="">#2 </a></p>
														<p class="titlepost"><a href="">
															Chung cư nguyên căn giá rẻ ádas asdas asdasdasda </a></p>
														<p class="diachi">
															14 Dương Quảng Hàm
														</p>
													</span>	                                            
												</div>

												<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
													<img class="image-view" src="../static/image/item-demo1.png" alt="product">			                                                
													<span class="info">			                                                
														<p class="id"><a href="">#3 </a></p>
														<p class="titlepost"><a href="">
															Phòng sinh viên</a></p>
															<p class="diachi">
																14 Dương Quảng Hàm
															</p>
													</span>		                                            
												</div>

												<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
													<img class="image-view" src="../static/image/item-demo2.png" alt="product">			                                                
													<span class="info">			                                                
														<p class="id"><a href="">#4 </a></p>
														<p class="titlepost"><a href="">
															Phòng sinh viên</a></p>
														<p class="diachi">
															14 Dương Quảng Hàm
														</p>	
													</span>	                                            
												</div>
			                                </div>
										</div>
			                        </div>
								</div>
								
			                </div>
						</div>
						
						
					</div>
				</div>
			</div>
		</div>
	   
	    
	</div>
	<!--End code-->

	<div id="footer"></div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="../static/script/historyB.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/43ada5badf.js"></script>
</body>
</html>