<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Easy Accomod</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <link rel="stylesheet" href="../static/style/common.css">
    <link rel="stylesheet" href="../static/style/home.css">
    <link rel="shortcut icon" href="../static/image/icon.png"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://kit.fontawesome.com/43ada5badf.js"></script>
</head>
<body>
    <!-- Menu -->
    <div id="menu"></div>

    <div class="main">
        <section class="search-section">
            <div class="head-brand">Easy Accommodation</div>
            <div class="search-box flex-column">
                <h5 class="search-box-title mb-2 text-white">Tìm kiếm</h3>
                <div class="search-input">
                    <input id="searchInput" autocomplete="off" placeholder="Cầu Giấy, Dịch Vọng...">
                    <div class="autocom-box"></div>                    
                    <div class="icon" id="searchBtn" onclick="searchRaw()"><i class="fas fa-search"></i></div>
                </div>
                <div class="search-filter">
                    <div class="filter-item">
                        <h5 class="search-item-title">Loại phòng</h5>
                        <select class="form-control" id="itemType">
                            <option value="bai-dang">Tất cả</option>
                            <option value="phong-tro">Phòng trọ</option>
                            <option value="nha-nguyen-can">Nhà nguyên căn</option>
                            <option value="chung-cu-mini">Chung cư mini</option>
                            <option value="chung-cu-nguyen-can">Chung cư nguyên căn</option>
                        </select></div>
                    <div class="filter-item">
                        <div class="box">
                            <h5 class="search-item-title">Khoảng giá</h5>
                            <p id="price_show">1.8 - 20 triệu/tháng</p>
                            <div id="price_range"></div>
                            <input type="hidden" id="min_price">
                            <input type="hidden" id="max_price">
                        </div></div>
                    <div class="filter-item">
                        <h5 class="search-item-title">Diện tích</h5>
                        <select class="form-control" id="area_range">
                            <option value="0">Không giới hạn</option>
                            <option value="30">Trên 30 m2</option>
                            <option value="60">Trên 60 m2</option>
                            <option value="100">Trên 100 m2</option>
                            <option value="125">Trên 125 m2</option>
                        </select></div>
                </div>
            </div>
        </section>
        <section class="city-navigation">
            <div class="container">
                <div class="city-box">
                    <h2 class="content-title">Địa điểm nổi bật</h2>
                    <p class="content-description">Khám phá trải nghiệm mới khắp mọi miền đất nước</p>
                    <div class="city-list flex-row">
                        <a href="/bai-dang/dia-chi/ha-noi/1/gia/1.8/20/dien-tich-tu/0"><div class="city-item" data-aos="zoom-in" data-aos-duration="700">
                            <img src="../static/image/hanoi.png">
                            <h5 class="city-name">Hà Nội</h5>
                        </div></a>
                        <a href="/bai-dang/dia-chi/ho-chi-minh/1/gia/1.8/20/dien-tich-tu/0"><div class="city-item" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="200">
                            <img src="../static/image/hochiminh.png">
                            <h5 class="city-name">Hồ Chí Minh</h5>
                        </div></a>
                        <a href="/bai-dang/dia-chi/da-nang/1/gia/1.8/20/dien-tich-tu/0"><div class="city-item" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="400">
                            <img src="../static/image/danang.png">
                            <h5 class="city-name">Đà Nẵng</h5>
                        </div></a>
                        <a href="/bai-dang/dia-chi/khanh-hoa/nha-trang/gia/1.8/20/dien-tich-tu/0"><div class="city-item" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="600">
                            <img src="../static/image/nhatrang.png">
                            <h5 class="city-name">Nha Trang</h5>
                        </div></a>
                    </div>
                </div>
                <div class="recommend-box">
                    <h2 class="content-title">Gợi ý theo nhu cầu</h2>
                    <p class="content-description">Mỗi chuyến đi là một hành trình truyền cảm hứng, mỗi căn phòng là một khoảng trời an yên</p>
                    <div class="tabs" data-aos="zoom-in" data-aos-duration="700">
                        <div class="tab-header">
                            <div class="tab-active-head">
                                <h5>Phòng trọ</h5>
                            </div>
                            <div class="">
                                <h5>Nhà nguyên căn</h5>
                            </div>
                            <div class="">
                                <h5>Chung cư mini</h5>
                            </div>
                            <div class="">
                                <h5>Chung cư nguyên căn</h5>
                            </div>
                        </div>
                        <div class="tab-indicator"></div>
                        <div class="tab-body">
                            <!-- Phòng trọ -->
                            <div class="tab-content tab-active-body">
                                <a href="/detail-post/1"><div class="recommend-item">
                                    <img src="../static/image/phongtro-1.png">
                                    <div class="item-info">
                                        <div class="first-info">
                                            <h6><b>Phòng trọ giá rẻ</b></h6>
                                            <p>Đình Xuyên, Gia Lâm, Hà Nội</p>
                                        </div>
                                        <div class="second-info">
                                            <h6>Giá phòng</h6>
                                            <p class="price-item">3.700.000 <span>đồng/tháng</span></p>
                                        </div>
                                    </div>
                                </div></a>
                                <a href="/detail-post/11"><div class="recommend-item">
                                    <img src="../static/image/phongtro-2.jpg">
                                    <div class="item-info">
                                        <div class="first-info">
                                            <h6><b>Phòng trọ giá tốt</b></h6>
                                            <p>Thanh Văn, Thanh Oai, Hà Nội</p>
                                        </div>
                                        <div class="second-info">
                                            <h6>Giá phòng</h6>
                                            <p class="price-item">2.600.000 <span>đồng/tháng</span></p>
                                        </div>
                                    </div>
                                </div></a>
                                <a href="/detail-post/19"><div class="recommend-item">
                                    <img src="../static/image/phongtro-3.jpg">
                                    <div class="item-info">
                                        <div class="first-info">
                                            <h6><b>Phòng trọ đẹp</b></h6>
                                            <p>Kim Mã, Ba Đình, Hà Nội</p>
                                        </div>
                                        <div class="second-info">
                                            <h6>Giá phòng</h6>
                                            <p class="price-item">3.000.000 <span>đồng/tháng</span></p>
                                        </div>
                                    </div>
                                </div></a>
                                <a href="/detail-post/647"><div class="recommend-item">
                                    <img src="../static/image/phongtro-4.jpg">
                                    <div class="item-info">
                                        <div class="first-info">
                                            <h6><b>Phòng trọ an ninh</b></h6>
                                            <p>Dịch Vọng, Cầu Giấy, Hà Nội</p>
                                        </div>
                                        <div class="second-info">
                                            <h6>Giá phòng</h6>
                                            <p class="price-item">2.000.000 <span>đồng/tháng</span></p>
                                        </div>
                                    </div>
                                </div></a>
                            </div>

                            <!-- Nhà nguyên căn -->
                            <div class="tab-content">
                                <a href="/detail-post/232"><div class="recommend-item">
                                    <img src="../static/image/nhanguyencan-1.jpg">
                                    <div class="item-info">
                                        <div class="first-info">
                                            <h6><b>Nhà nguyên căn đẹp</b></h6>
                                            <p>Bạch Mai, Hai Bà Trưng, Hà Nội</p>
                                        </div>
                                        <div class="second-info">
                                            <h6>Giá phòng</h6>
                                            <p class="price-item">8.800.000 <span>đồng/tháng</span></p>
                                        </div>
                                    </div>
                                </div></a>
                                <a href="/detail-post/501"><div class="recommend-item">
                                    <img src="../static/image/nhanguyencan-2.jpg">
                                    <div class="item-info">
                                        <div class="first-info">
                                            <h6><b>Nhà nguyên căn vip</b></h6>
                                            <p>Phùng, Đan Phượng, Hà Nội</p>
                                        </div>
                                        <div class="second-info">
                                            <h6>Giá phòng</h6>
                                            <p class="price-item">8.000.000 <span>đồng/tháng</span></p>
                                        </div>
                                    </div>
                                </div></a>
                                <a href="/detail-post/614"><div class="recommend-item">
                                    <img src="../static/image/nhanguyencan-3.jpg">
                                    <div class="item-info">
                                        <div class="first-info">
                                            <h6><b>Nhà nguyên căn vip</b></h6>
                                            <p>Thanh Lâm, Mê Linh, Hà Nội</p>
                                        </div>
                                        <div class="second-info">
                                            <h6>Giá phòng</h6>
                                            <p class="price-item">20.000.000 <span>đồng/tháng</span></p>
                                        </div>
                                    </div>
                                </div></a>
                                <a href="/detail-post/788"><div class="recommend-item">
                                    <img src="../static/image/nhanguyencan-4.jpg">
                                    <div class="item-info">
                                        <div class="first-info">
                                            <h6><b>Nhà nguyên căn an ninh</b></h6>
                                            <p>Quang Trung, Sơn Tây, Hà Nội</p>
                                        </div>
                                        <div class="second-info">
                                            <h6>Giá phòng</h6>
                                            <p class="price-item">9.500.000 <span>đồng/tháng</span></p>
                                        </div>
                                    </div>
                                </div></a>
                            </div>

                            <!-- Chung cư mini -->
                            <div class="tab-content">
                                <a href="/detail-post/4"><div class="recommend-item">
                                    <img src="../static/image/chungcumini-1.jpg">
                                    <div class="item-info">
                                        <div class="first-info">
                                            <h6><b>Chung cư mini đẹp</b></h6>
                                            <p>Hoa Sơn, Ứng Hòa, Hà Nội</p>
                                        </div>
                                        <div class="second-info">
                                            <h6>Giá phòng</h6>
                                            <p class="price-item">4.900.000 <span>đồng/tháng</span></p>
                                        </div>
                                    </div>
                                </div></a>
                                <a href="/detail-post/26"><div class="recommend-item">
                                    <img src="../static/image/chungcumini-2.jpg">
                                    <div class="item-info">
                                        <div class="first-info">
                                            <h6><b>Chung cư mini bình dân</b></h6>
                                            <p>Châu Sơn, Ba Vì, Hà Nội</p>
                                        </div>
                                        <div class="second-info">
                                            <h6>Giá phòng</h6>
                                            <p class="price-item">4.400.000 <span>đồng/tháng</span></p>
                                        </div>
                                    </div>
                                </div></a>
                                <a href="/detail-post/368"><div class="recommend-item">
                                    <img src="../static/image/chungcumini-3.jpg">
                                    <div class="item-info">
                                        <div class="first-info">
                                            <h6><b>Chung cư mini giá rẻ</b></h6>
                                            <p>Ngã Tư Sở, Đống Đa, Hà Nội</p>
                                        </div>
                                        <div class="second-info">
                                            <h6>Giá phòng</h6>
                                            <p class="price-item">4.800.000 <span>đồng/tháng</span></p>
                                        </div>
                                    </div>
                                </div></a>
                                <a href="/detail-post/101"><div class="recommend-item">
                                    <img src="../static/image/chungcumini-4.jpg">
                                    <div class="item-info">
                                        <div class="first-info">
                                            <h6><b>Chung cư mini sinh viên</b></h6>
                                            <p>Tuyết Nghĩa, Quốc Oai, Hà Nội</p>
                                        </div>
                                        <div class="second-info">
                                            <h6>Giá phòng</h6>
                                            <p class="price-item">4.400.000 <span>đồng/tháng</span></p>
                                        </div>
                                    </div>
                                </div></a>
                            </div>

                            <!-- Chung cư nguyên căn -->
                            <div class="tab-content">
                                <a href="/detail-post/10"><div class="recommend-item">
                                    <img src="../static/image/chungcunguyencan-1.jpg">
                                    <div class="item-info">
                                        <div class="first-info">
                                            <h6><b>Chung cư nguyên căn giá tốt</b></h6>
                                            <p>Nam Đồng, Đống Đa, Hà Nội</p>
                                        </div>
                                        <div class="second-info">
                                            <h6>Giá phòng</h6>
                                            <p class="price-item">20.000.000 <span>đồng/tháng</span></p>
                                        </div>
                                    </div>
                                </div></a>
                                <a href="/detail-post/316"><div class="recommend-item">
                                    <img src="../static/image/chungcunguyencan-2.jpg">
                                    <div class="item-info">
                                        <div class="first-info">
                                            <h6><b>Chung cư nguyên căn an ninh</b></h6>
                                            <p>Kim Chung, Hoài Đức, Hà Nội</p>
                                        </div>
                                        <div class="second-info">
                                            <h6>Giá phòng</h6>
                                            <p class="price-item">9.000.000 <span>đồng/tháng</span></p>
                                        </div>
                                    </div>
                                </div></a>
                                <a href="/detail-post/567"><div class="recommend-item">
                                    <img src="../static/image/chungcunguyencan-3.jpg">
                                    <div class="item-info">
                                        <div class="first-info">
                                            <h6><b>Chung cư nguyên căn sinh viên</b></h6>
                                            <p>Tàm Xá, Đông Anh, Hà Nội</p>
                                        </div>
                                        <div class="second-info">
                                            <h6>Giá phòng</h6>
                                            <p class="price-item">12.000.000 <span>đồng/tháng</span></p>
                                        </div>
                                    </div>
                                </div></a>
                                <a href="/detail-post/102"><div class="recommend-item">
                                    <img src="../static/image/chungcunguyencan-4.jpg">
                                    <div class="item-info">
                                        <div class="first-info">
                                            <h6><b>Chung cư nguyên căn bình dân</b></h6>
                                            <p>Thịnh Quang, Đống Đa, Hà Nội</p>
                                        </div>
                                        <div class="second-info">
                                            <h6>Giá phòng</h6>
                                            <p class="price-item">20.000.000 <span>đồng/tháng</span></p>
                                        </div>
                                    </div>
                                </div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <div id="footer"></div>

    <!-- Bootstrap lib -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- JQuery lib -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/script/home.js"></script>

    <!-- Slider css, js lib -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>

    <!-- Animate on scroll lib -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>
