<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Easy Accomod</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <link rel="stylesheet" href="../static/style/common.css">
    <link rel="stylesheet" href="../static/style/home.css">
    <link rel="shortcut icon" href="../static/image/icon.png"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://kit.fontawesome.com/43ada5badf.js"></script>
</head>
<body>
    <!-- Menu -->
    <div id="menu"></div>

    <div class="main">
        <section class="search-section">
            <div class="head-brand">Easy Accommodation</div>
            <div class="search-box flex-column">
                <h5 class="search-box-title mb-2 text-white">Tìm kiếm</h3>
                <div class="search-input">
                    <input id="searchInput" autocomplete="off" placeholder="Cầu Giấy, Dịch Vọng..." required>
                    <div class="autocom-box"></div>                    
                    <div class="icon" id="searchBtn" onclick="search()"><i class="fas fa-search"></i></div>
                </div>
                <div class="search-filter">
                    <div class="filter-item">
                        <h5 class="search-item-title">Loại phòng</h5>
                        <select class="form-control" id="itemType">
                            <option value="">Tất cả</option>
                            <option value="">Phòng trọ</option>
                            <option value="">Nhà nguyên căn</option>
                            <option value="">Chung cư mini</option>
                            <option value="">Chung cư nguyên căn</option>
                        </select>
                    </div>
                    <div class="filter-item">
                        <div class="box">
                            <h5 class="search-item-title">Khoảng giá</h5>
                            <p id="price_show">1.8 - 20 triệu/tháng</p>
                            <div id="price_range"></div>
                            <input type="hidden" id="min_price">
                            <input type="hidden" id="max_price">
                        </div>
                    </div>
                    <div class="filter-item">
                        <h5 class="search-item-title">Diện tích</h5>
                        <select class="form-control" id="area_range">
                            <option value="">Không giới hạn</option>
                            <option value="">Trên 30 m2</option>
                            <option value="">Trên 60 m2</option>
                            <option value="">Trên 100 m2</option>
                            <option value="">Trên 125 m2</option>
                        </select>
                    </div>
                </div>
            </div>
        </section>
        <section class="city-navigation">
            <div class="container">
                <div class="city-box">
                    <h2 class="content-title">Địa điểm nổi bật</h2>
                    <p class="content-description">Khám phá trải nghiệm mới khắp mọi miền đất nước</p>
                    <div class="city-list row m-0">
                        <a href="/ket-qua"><div class="city-item" data-aos="zoom-in" data-aos-duration="700">
                            <img src="../static/image/hanoi.png">
                            <h5 class="city-name">Hà Nội</h5>
                        </div></a>
                        <div class="city-item" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="200">
                            <img src="../static/image/hochiminh.png">
                            <h5 class="city-name">Hồ Chí Minh</h5>
                        </div>

                        <div class="city-item" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="400">
                            <img src="../static/image/danang.png">
                            <h5 class="city-name">Đà Nẵng</h5>
                        </div>
                        <div class="city-item" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="600">
                            <img src="../static/image/nhatrang.png">
                            <h5 class="city-name">Nha Trang</h5>
                        </div>
                    </div>
                </div>
                <div class="recommend-box">
                    <h2 class="content-title">Gợi ý theo nhu cầu</h2>
                    <p class="content-description">Mỗi chuyến đi là một hành trình truyền cảm hứng, mỗi căn phòng là một khoảng trời an yên</p>
                    <div class="tabs" data-aos="zoom-in" data-aos-duration="700">
                        <div class="tab-header">
                            <div class="tab-active-head">
                                <h5>Phòng trọ</h5>
                            </div>
                            <div class="">
                                <h5>Nhà nguyên căn</h5>
                            </div>
                            <div class="">
                                <h5>Chung cư mini</h5>
                            </div>
                            <div class="">
                                <h5>Chung cư nguyên căn</h5>
                            </div>
                        </div>
                        <div class="tab-indicator"></div>
                        <div class="tab-body">
                            <div class="tab-content tab-active-body">
                                <a href="/detail-post"><div class="recommend-item">
                                    <img src="../static/image/item-demo1.png">
                                    <div class="item-info">
                                        <div class="first-info">
                                            <h6><b>Chung cư nguyên căn giá tốt</b></h6>
                                            <p>Cầu Giấy, Hà Nội</p>
                                        </div>
                                        <div class="second-info">
                                            <h6>Giá phòng</h6>
                                            <p class="price-item">4.500.000 <span>đồng/tháng</span></p>
                                        </div>
                                    </div>
                                </div></a>
                                <a href="/detail-post"><div class="recommend-item">
                                    <img src="../static/image/item-demo2.png">
                                    <div class="item-info">
                                        <div class="first-info">
                                            <h6><b>Chung cư nguyên căn giá tốt</b></h6>
                                            <p>Bắc Từ Liêm, Hà Nội</p>
                                        </div>
                                        <div class="second-info">
                                            <h6>Giá phòng</h6>
                                            <p class="price-item">2.100.000 <span>đồng/tháng</span></p>
                                        </div>
                                    </div>
                                </div></a>
                                <a href="/detail-post"><div class="recommend-item">
                                    <img src="../static/image/item-demo1.png">
                                    <div class="item-info">
                                        <div class="first-info">
                                            <h6><b>Chung cư nguyên căn giá tốt</b></h6>
                                            <p>Cầu Giấy, Hà Nội</p>
                                        </div>
                                        <div class="second-info">
                                            <h6>Giá phòng</h6>
                                            <p class="price-item">4.500.000 <span>đồng/tháng</span></p>
                                        </div>
                                    </div>
                                </div></a>
                                <a href="/detail-post"><div class="recommend-item">
                                    <img src="../static/image/item-demo2.png">
                                    <div class="item-info">
                                        <div class="first-info">
                                            <h6><b>Chung cư nguyên căn giá tốt</b></h6>
                                            <p>Bắc Từ Liêm, Hà Nội</p>
                                        </div>
                                        <div class="second-info">
                                            <h6>Giá phòng</h6>
                                            <p class="price-item">2.100.000 <span>đồng/tháng</span></p>
                                        </div>
                                    </div>
                                </div></a>
                            </div>
                            <div class="tab-content">
                                <h2>This is code section</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error neque saepe commodi blanditiis fugiat nisi aliquam ratione porro quibusdam in, eveniet accusantium cumque. Dolore officia reprehenderit perferendis quod libero omnis.</p>
                            </div>
                            <div class="tab-content">
                                <h2>This is code 2 section</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error neque saepe commodi blanditiis fugiat nisi aliquam ratione porro quibusdam in, eveniet accusantium cumque. Dolore officia reprehenderit perferendis quod libero omnis.</p>
                            </div>
                            <div class="tab-content">
                                <a href="/detail-post"><div class="recommend-item">
                                    <img src="../static/image/item-demo1.png">
                                    <div class="item-info">
                                        <div class="first-info">
                                            <h6><b>Chung cư nguyên căn giá tốt</b></h6>
                                            <p>Cầu Giấy, Hà Nội</p>
                                        </div>
                                        <div class="second-info">
                                            <h6>Giá phòng</h6>
                                            <p class="price-item">4.500.000 <span>đồng/tháng</span></p>
                                        </div>
                                    </div>
                                </div></a>
                                <a href="/detail-post"><div class="recommend-item">
                                    <img src="../static/image/item-demo2.png">
                                    <div class="item-info">
                                        <div class="first-info">
                                            <h6><b>Chung cư nguyên căn giá tốt</b></h6>
                                            <p>Bắc Từ Liêm, Hà Nội</p>
                                        </div>
                                        <div class="second-info">
                                            <h6>Giá phòng</h6>
                                            <p class="price-item">2.100.000 <span>đồng/tháng</span></p>
                                        </div>
                                    </div>
                                </div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <div id="footer"></div>

    <!-- Bootstrap lib -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- JQuery lib -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/script/home.js"></script>

    <!-- Slider css, js lib -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>

    <!-- Animate on scroll lib -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>
