<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Easy Accomod</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style/infoB.css">
    <link rel="stylesheet" href="../static/style/searchOwner.css">
    <link rel="shortcut icon" href="../static/image/icon.png"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400" rel="stylesheet" /> 
</head>
<body>
    <!-- Menu -->
    <div id="menu"></div>

    <!-- Phần thân -->
    <div class="container">
        <!-- Hiển thị avt + thông số -->
        <div class="row">
            <div class="col-md-6">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="avatar-img" src="../static/image/1.png">
                        </div>
                        <div class="col-sm-9">
                            <b>Nguyễn Hùng Duy</b>
                            <div>
                                20/11/2020
                            </div>
                            <div>
                                #renter
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-sm-12">
                    <div>Bộ đếm</div>
                
                    <div class="row">                      
                        <div class="col-sm-3 view-count"></div>
                        <div class="col-sm-3 love-count"></div>
                        <div class="col-sm-3 review-count"></div>
                        <div class="col-sm-3 report-count"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div id="footer"></div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/script/infoB.js"></script>
</body>
</html>