<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Easy Accomod</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style/common.css">
    <link rel="stylesheet" href="../static/style/login.css">
    <link rel="shortcut icon" href="../static/image/icon.png"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container pt-5">
        <div class="row p-5">
            <div class="col-md-12 col-sm-12 col-12 col-lg-5 login-box">
                <h1> Đăng nhập </h1>
                <form>
                    <div class="form-group"> <input type="text" class="form-control" placeholder="Username" id="form11"> </div>
                    <div class="form-group"> <input type="password" class="form-control" placeholder="Password" id="form12"> <small class="form-text text-muted text-right"></small> </div>
                    <!-- <div class="btn btn-success mb-2" id="login-btn" onclick="submitLogin()" style="margin: auto;">Đăng nhập</div> -->
                </form>
                <div class="row login-row">
                    <div class="text-danger" id="alert"></div>
                    <a href="/dang-ky"><div class="btn btn-link"> Đăng ký tài khoản mới </div></a>
                    <div class="btn btn-success mb-2" id="login-btn" onclick="submitLogin()">Đăng nhập</div>
                </div>
                <div class="row turn-back">
                    <a href="/">
                    <img src="../static/image/previous.png">
                    <div class="btn btn-link">Quay lại Trang chủ</div>
                    </a>
                </div>
            </div>
            <!-- col-md-6 col-sm-12 col-12 -->
            <div class=" p-0 col-md-6">
                <h1 id="brand">Easy Accommodation</h1>
            </div>
        </div>
    </div>
    <script src="/static/script/md5.min.js"></script>
    <script src="/static/script/login.js"></script>
</body>
</html>
