<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Easy Accomod</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <link rel="stylesheet" href="../static/style/common.css">
    <link rel="stylesheet" href="../static/style/post-manager.css">
    <link rel="shortcut icon" href="../static/image/icon.png"/>
    <script src="https://kit.fontawesome.com/43ada5badf.js"></script>
</head>
<body>
    <div class="main">
        <!-- Menu -->
        <div id="menu"></div>

        <div class="main-content container w90">
            <div class="row">
                <!-- Cột trái -->
                <div class="col-lg-8">
                    <div class="manage">
                        <div class="header header-manage-post">
                            <h1 class="heading">Quản lý bài đăng</h1>
                        </div>

                        <!-- Bộ lọc phía trên -->
                        <div class="filter">
                            <div>
                                <label class="filter-title" for="status">Loại bài đăng</label>
                                <select class="form-control" name="status" id="">
                                    <option id="" value="handling">Bài chờ duyệt</option>
                                    <option id="active" value="">Bài đã đăng</option>
                                    <option id="expired" value="">Bài hết hạn</option>
                                    <option id="extend" value="">Bài gia hạn</option>
                                    <option id="refuse" value="">Bài đã từ chối</option>
                                    <option id="admin" value="">Bài của Quản trị viên</option>
                                </select>
                            </div>
                            <div>
                                <label class="filter-title" for="sortDate">Sắp xếp theo</label>
                                <select class="form-control" name="sortDate" id="">
                                    <option id="createDateASC" value="">Ngày tạo mới nhất</option>
                                    <option id="createDateDESC" value="">Ngày tạo cũ nhất</option>
                                    <option id="acceptDateASC" value="">Ngày đăng mới nhất</option>
                                    <option id="acceptDateDESC" value="">Ngày đăng cũ nhất</option>
                                </select>
                            </div>
                            <div>
                                <label class="filter-title" for="statistic">Chỉ số bài đăng</label>
                                <select class="form-control" name="statistic" id="">
                                    <option id="viewASC" value="">Lượt xem nhiều nhất</option>
                                    <option id="viewDESC" value="">Lượt xem ít nhất</option>
                                    <option id="favoriteASC" value="">Lượt yêu thích nhiều nhất</option>
                                    <option id="favoriteDESC" value="">Lượt yêu thích ít nhất</option>
                                    <option id="ratingASC" value="">Đánh giá nhiều nhất</option>
                                    <option id="ratingDESC" value="">Đánh giá ít nhất</option>
                                </select>
                            </div>
                            <div>
                                <label class="filter-title" for="city">Tỉnh, thành phố</label>
                                <select class="form-control" name="city" id="">
                                    <option id="" value="">Tất cả tỉnh, thành phố</option>
                                    <option id="" value="">Hà Nội</option>
                                    <option id="" value="">Hồ Chí Minh</option>
                                    <option id="" value="">Đà Nẵng</option>
                                    <option id="" value="">Nha Trang</option>
                                </select>
                            </div>
                            <div>
                                <label class="filter-title" for="district">Quận, huyện</label>
                                <select class="form-control" name="district" id="">
                                    <option id="" value="">Tất cả quận, huyện</option>
                                    <option id="" value=""></option>
                                </select>
                            </div>
                            <div>
                                <label class="filter-title" for="ward">Xã, phường</label>
                                <select class="form-control" name="ward" id="">
                                    <option id="" value="">Tất cả xã, phường</option>
                                    <option id="" value=""></option>
                                </select>
                            </div>
                        </div>

                        <!-- Các hàng kết quả -->
                        <div class="filter-result">
                            <div class="post-item border">
                                <div class="basic-info">
                                    <div class="space-between">
                                        <!-- Thông tin bài đăng cơ bản -->
                                    <div>
                                        <div class="form-title">
                                            <div class="title">Tiêu đề:</div>
                                            <p>Chung cư nguyên căn sinh viên</p>
                                        </div>
                                        <div class="form-title">
                                            <div class="title">Địa chỉ:</div>
                                            <p>Dịch Vọng, Cầu Giấy, Hà Nội</p>
                                        </div>
                                        <div class="form-title">
                                            <div class="title">Giá phòng:</div>
                                            <p>2.500.000 đ/tháng</p>
                                        </div>
                                        <div class="form-title">
                                            <div class="title">Loại phòng:</div>
                                            <p>Chung</p>
                                        </div>
                                    </div>

                                    <!-- Trạng thái, chấp nhận/từ chối -->
                                    <div>
                                        <div class="status-action form-control text-center">Đang xử lý</div>
                                        <div class="status-action form-control bg-success text-center text-white">Chấp nhận</div>
                                        <div class="status-action form-control bg-danger text-center text-white">Từ chối</div>
                                    </div>
                                    </div>
                                    

                                    <div class="border"></div>
                                    <div>

                                    </div>
                                </div>
                                <div class="post-content">
                                    <div>
                                        <div>
                                            <div>

                                            </div>
                                            <div>

                                            </div>
                                        </div>
                                        
                                        <!-- Thông tin người đăng -->
                                        <div>

                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <!-- Địa điểm lân cận -->
                                            <div>
                                                
                                            </div>

                                            <!-- Nội dung -->
                                            <div>
                                                
                                            </div>
                                        </div>

                                        <!-- Ảnh bài đăng -->
                                        <img src="">
                                    </div>
                                </div>
                            </div>

                            <!-- Next item -->

                        </div>
                    </div>
                </div>

                <!-- Cột phải -->
                <div class="col-lg-4">
                    <div class="notification">
                        <div class="header header-notification">
                            <h1 class="heading">Thông báo<i class="fas fa-envelop-open"></i></h1>
                            <div class="form-control" id="btnReadAll" onclick="readAll()">
                                <abbr title="Đọc tất cả"><i class="fas fa-envelope-open"></i></abbr>
                            </div>
                        </div>
                        <div class="main-notification">
                            <div class="noti-item unread" onclick="read(this)">
                                <img class="noti-img" src="../static/image/icon-account.png">
                                <div class="noti-content">
                                    <h3 class="noti-title">Đăng ký tài khoản chủ trọ</h3>
                                    <p>Họ tên: <b>Vũ Thành Trung</b></p>
                                    <p>Username: <b>trungvuthanh</b></p>
                                    <h4 class="noti-time">08/12/2020</h4>
                                </div>
                            </div>
                            <div class="noti-item" onclick="read(this)">
                                <img class="noti-img" src="../static/image/icon-post.png">
                                <div class="noti-content">
                                    <h3 class="noti-title">Yêu cầu đăng tin</h3>
                                    <p>Họ tên: <b>Vũ Thành Trung</b></p>
                                    <p>Username: <b>trungvuthanh</b></p>
                                    <h4 class="noti-time">08/12/2020</h4>
                                </div>
                            </div>
                            <div class="noti-item unread" onclick="read(this)">
                                <img class="noti-img" src="../static/image/icon-report.png">
                                <div class="noti-content">
                                    <h3 class="noti-title">Báo cáo bài đăng vi phạm</h3>
                                    <p>Họ tên: <b>Vũ Thành Trung</b></p>
                                    <p>Username: <b>trungvuthanh</b></p>
                                    <h4 class="noti-time">08/12/2020</h4>
                                </div>
                            </div>
                            <div class="noti-item unread" onclick="read(this)">
                                <img class="noti-img" src="../static/image/icon-post.png">
                                <div class="noti-content">
                                    <h3 class="noti-title">Yêu cầu đăng tin</h3>
                                    <p>Họ tên: <b>Vũ Thành Trung</b></p>
                                    <p>Username: <b>trungvuthanh</b></p>
                                    <h4 class="noti-time">08/12/2020</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div id="footer"></div>

    <!-- Bootstrap lib -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- JQuery lib -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/script/post-manager.js"></script>
</body>
</html>