<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../static/image/icon.png"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=El+Messiri:400,500,600,700|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="../static/style/signupStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Varta:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Tạo tài khoản</title>
</head>
<body>
	<div class="page">
        <!-- <div class="col-12 col-md-8 mx-md-auto mt-5"> -->
        <form>
        <!-- Tiêu đề -->
		<div>
			<h1>TẠO TÀI KHOẢN</h1>
		</div>

        <!-- Loại tài khoản -->
		<div class="row">
			<label id="typeacc" class="chimuc">Loại tài khoản</label>
			<div class="chung">
				<select class="loaitk" required>
					<optgroup label="Loại tài khoản">
                        <option>Người cho thuê</option>
						<option>Người thuê</option>
					</optgroup>
				</select>
            </div>
            <span id="loi_loaitk" ></span>
        </div>
        
        <!-- Username -->
		<div class="row">
			<label id="" class="chimuc">Tài khoản</label>
			<div class="chung">
				<input type="text" id ="username" name="username" class="nhapusername" placeholder="Username" required>
            </div>
        </div>
        <div class="row">
            <label class="chimuc"></label>
            <small id="usernameHelp" class="noti">Tên đăng nhập phải từ 5-12 kí tự, không gồm kí tự đặc biệt</small>
            <div class="loi_username">
                <span id="loi_username" class="baoloi"></span>
            </div>
        </div>
        
        <!-- Password -->
		<div class="row">
			<label id="" class="chimuc">Mật khẩu</label>
			<div class="chung">
				<input type="password" id = "password" name="pass" class="nhappassword1" placeholder="Mật khẩu" required>
                <input type="password" id = "repassword" name="repass" class="nhappassword2" placeholder="Nhập lại mật khẩu" required>   
			</div>
        </div>
        
        <div class="row">
            <label class="chimuc"></label>
            <small id="passwordHelp" class="noti">Mật khẩu phải 8-20 kí tự chữ, số (được dùng @ - _)</small>
            <div class="loi_repass">
                <span id="loi_repass"></span>
                <span id="loi" class="baoloi"></span>
            </div>
        </div>

        <!-- Họ tên -->
        <div class="row">
			<label id="name" class="chimuc">Họ tên</label>
			<div class="chung">
                <input type="text" id="hoten" name="hoten" class="nhapten" placeholder="Nguyễn Hùng Duy" required>
			</div>
        </div>
        <div class="row">
            <label class="chimuc"></label>
            <div class="loi_hoten">
                <span id="loi_hoten" class="baoloi"></span>
            </div>
        </div>
        
        <!-- Số điện thoại -->
		<div class="row">
			<label id="sdt" class="chimuc">Số điện thoại</label>
			<div class="chung">
				<input type="text" id="phone" class="nhapsdt" placeholder="0987654321" required>
			</div>
		</div>
        <div class="row">
            <label class="chimuc"></label>
            <small id="phoneHelp" class="noti">Số điện thoại bao gồm 10 chữ số</small>
            <div class="loi_sdt">
                <span id="loi_sdt" class="baoloi"></span>
            </div>
        </div>

        <!-- Email -->
		<div class="row">
			<label id="mail" class="chimuc">Email</label>
			<div class="chung">
				<input type="text" id="email" class="nhapemail"  placeholder="amazinggoodjob@gmail.com" required>
			</div>
        </div>
        <div class="row">
            <label class="chimuc"></label>
            <div class="loi_email">
                <span id="loi_email" class="baoloi"></span>
            </div>
        </div>

        <!-- Ngày sinh -->
		<div class="row">
			<label id="born" class="chimuc">Ngày sinh</label>
			<div class="chung">
				<input type="date" class="nhapngay" required>
			</div>
		</div>

        <!-- ID -->
		<div class="row">
			<label id="cmt" class="chimuc">CMND/CCCD</label>
			<div class="chung">
				<input type="text" id="id" class="nhapcmt" placeholder="ID" required>
			</div>
        </div>
        <div class="row">
            <label class="chimuc"></label>
            <div class="loi_id">
                <span id="loi_id" class="baoloi"></span>
            </div>
        </div>

            <!-- Upload ảnh ID -->
		<div class="row">
			<label class="chimuc"></label>
			<!-- <div class="chung">
				<div>
					<input type = "file" onchange = "previewFile(this);" accept=".png,.jpg" required>
                	<div id = "preview"></div>
				</div>
            </div> -->
            <div class="chung">
                <input type="file" class="form-control-file" accept=".jpg, .png" required onchange = "previewFile(this);"  id="btnHinhAnh">
                <div id = "preview" class="preview"></div>
            </div>
        </div>
        <div class="row">
            <label class="chimuc"></label>
            <div class="loi_anh">
                <span id="loi_anh" class="baoloi"></span>
            </div>
        </div>
        <!-- <div class="row">
            <label class="chimuc"></label>
            <div>
                <img class="preview nodisplay" src="" style="height:200px;"/>
                multiple = "multiple"
            </div>
        </div> -->

        <!-- Địa chỉ -->
		<div class="row">
            <label id ="diachi" class="chimuc">Địa chỉ</label>
            <div class="container1">
                <div class ="tinhthanh">
                    <select class = "selection1" name="Tỉnh, thành" required>
                        <option value="">Tỉnh, thành</option>
                        <option value="59cdc41a9d2a1700271c2b09">TP Hà Nội</option>
                        <option value="59cdc41a9d2a1700271c2b0a">TP Hồ Chí Minh</option>
                        <option value="59cdc41a9d2a1700271c2b0b">An Giang</option>
                        <option value="59cdc41a9d2a1700271c2b0c">Bà Rịa - Vũng Tàu</option>
                        <option value="59cdc41a9d2a1700271c2b0d">Bắc Kạn</option>
                        <option value="59cdc41a9d2a1700271c2b0e">Bắc Giang</option>
                        <option value="59cdc41a9d2a1700271c2b0f">Bạc Liêu</option>
                        <option value="59cdc41a9d2a1700271c2b10">Bắc Ninh</option>
                        <option value="59cdc41a9d2a1700271c2b11">Bến Tre</option>
                        <option value="59cdc41a9d2a1700271c2b12">Bình Định</option>
                        <option value="59cdc41a9d2a1700271c2b13">Bình Dương</option>
                        <option value="59cdc41a9d2a1700271c2b14">Bình Phước</option>
                        <option value="59cdc41b9d2a1700271c2b15">Bình Thuận</option>
                        <option value="59cdc41b9d2a1700271c2b16">Cà Mau</option>
                        <option value="59cdc41b9d2a1700271c2b17">TP Cần Thơ</option>
                        <option value="59cdc41b9d2a1700271c2b18">Cao Bằng</option>
                        <option value="59cdc41b9d2a1700271c2b19">TP Đà Nẵng</option>
                        <option value="59cdc41b9d2a1700271c2b1a">Đắk Lắk</option>
                        <option value="59cdc41b9d2a1700271c2b1b">Điện Biên</option>
                        
                    </select>
                </div>
                <div class="quanhuyen">
                    <select class="s1 selection1" name="Quận, huyện" required>
                        <option value="">Quận, huyện</option>
                        <option>Ba Đình</option>
                        <option>Ba Vì</option>
                        <option>Bắc Từ Liêm</option>
                        <option>Cầu Giấy</option>
                        <option>Chương Mỹ</option>
                        <option>Đan Phượng</option>
                        <option>Đông Anh</option>
                        <option>Đống Đa</option>
                        <option>Gia Lâm</option>
                        <option>Hà Đông</option>
                        <option>Hai Bà Trưng</option>
                        <option>Hoài Đức</option>
                        <option>Hoàn Kiếm</option>
                        <option>Hoàng Mai</option>
                        <option>Long Biên</option>
                        <option>Mê Linh</option>
                        <option>Mỹ Đức</option>
                        <option>Nam Từ Liêm</option>
                        <option>Phú Xuyên</option>
                        <option>Phúc Thọ</option>
                        <option>Quốc Oai</option>
                        <option>Sóc Sơn</option>
                        <option>Sơn Tây</option>
                        <option>Tây Hồ</option>
                        <option>Thạch Thất</option>
                        <option>Thanh Oai</option>
                        <option>Thanh Trì</option>
                        <option>Thanh Xuân</option>
                        <option>Thường Tín</option>
                        <option>Ứng Hòa</option>
                    </select>
                </div>
                <div class="phuongxa">
                    <select class = "s2 selection1" name="Phường, xã" required>
                        <option value="">Phường, xã</option>
                        <option>Cống Vị</option>
                        <option>Mỹ Đình 1</option>
                    </select>
                </div>
                
            </div>
		</div>
            <!-- Chi tiết địa chỉ -->
        <div class="row">
            <label id ="hideid" class="chimuc"></label>
            <div class="chitiet">
                <input type="text" class="them" placeholder="Chi tiết" required>
            </div>
		</div>
        
        <!-- Button đăng ký -->
		<div class="row">
            <div class="khoangtrang"></div>
            <div class="gui">
                <input type="submit" onclick = "javascript:Chapnhan();" value="Đăng ký">
            </div>
        </div>
    </form>
    <!-- </div> -->
	</div>
	<footer class="py-3" style="background-color: #daf2f6;">
        <div class="container">
        <div class="row">
            <div class="col-md-12 text-center d-md-flex align-items-center" style="">
            <ul class="nav d-flex justify-content-center" style="margin-left: 425px; margin-right: 300px;">
                <li class="nav-item"> <a class="nav-link active" href="" style="color: inherit;">Trang chủ</a> </li>
                <li class="nav-item"> <a class="nav-link" href="" style="color: inherit;">Liên hệ</a> </li>
                <li class="nav-item app-map"> <a class="nav-link" href="https://goo.gl/maps/ZnWSTXHsRVEKNqzWA" target="_blank" style="color: inherit;">Bản đồ</a> </li>
            </ul>
            <div class="row">
                <div class="col-md-12 d-flex align-items-center justify-content-md-between justify-content-center my-2">
                    <a>
                        <i class="d-block fa fa-facebook-official text-muted fa-lg mx-2"></i>
                    </a>
                    <a>
                        <i class="d-block fa fa-instagram text-muted fa-lg mx-2"></i>
                    </a>
                    <a>
                        <i class="d-block fa fa-twitter text-muted fa-lg ml-2"></i>
                    </a> 
                </div>
            </div>
            </div>
        </div>
            <div class="row">
                <div class="col-md-12 text-center">
                <p class="mt-2 mb-0">© 2020-2021 Easy Accomod. All rights reserved</p>
                </div>
            </div>
        </div>

        <div>
            <label class="HangMoi">&nbsp;</label>
            <img class="preview nodisplay" src="" style="height:200px;"/>
            <br/>
        </div>

        <!-- <div>
            <label class="HangMoi">&nbsp;</label>
            <input type="button" onclick = "javascript:Chapnhan();" value="Chấp nhận"/>
            <input type="button" onclick = "javascript:Boqua();" value="Bỏ qua"/>
            <br/>
        </div> -->
	</footer>
	<script>
        function previewFile(input) {
            const [file] = input.files 
            const preview = document.getElementById('preview')
            const reader = new FileReader()

            reader.onload = e => {
                const img = document.createElement('img')
                img.src = e.target.result
                // img.width = 144
                img.height = 144
                // img.alt = 'file'

                preview.appendChild(img)
            }

            reader.readAsDataURL(file)
        }
    </script>
    <script language="javascript" src="../static/script/signup.js"></script>
</body>
</html>