<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="../static/image/icon.png"/>
    <title>Website tìm nhà trọ</title>
</head>
<body>
    <div>Test</div>
    <img src="../static/image/motel-icon.png"/>
    <img src="../static/image/icon.png"/>
    <h1>Test fetching data</h1>
    <div id="id"></div>
    <div id="province"></div>
    <div id="district"></div>
    <div id="ward"></div>

    <div id="error"></div>
    <script src="../static/script/test.js"></script>
</body>
</html>
